extends layout
    
block content

    div.fullPageHeroBg#indexHero
        div
    div.indexHero
        //- div.brandingWrap
        //-     h1 Big Ideas for Grat Brands


    div.content
        div.projectsWrap
            ul.featuredProjects#projectGrid

                //- Begin Row 1

                //- Test Project 1 1816
                li#remington1816.featuredProject1
                    a(href="#projectName", data-client="#")
                        div.projectDeetsWrap
                            div.proInnerWrap.onLittle
                                div.projectHoverBg
                                    span.proShawdow.proLeftShawdowBg
                                    span.proShawdow.proRightShawdowBg
                                    div.innerProBG
                            h1.summitProjectLogo
                                span Summit Projects
                            h2.clientProjectLogo
                                span Remington 1816
                            h5.tpyeOfProject
                                span.proTypeOne Ecommerce 
                                span.proTypePluls + 
                                span.proTypeTwo Lifestyle Site
                            div.proBtnWrap.onLittle
                                span.projectBtn View Work
                //- Test Project 2 vega
                li#vega.featuredProject2
                    a(href="#projectName", data-client="#")
                        div.projectDeetsWrap
                            div.proInnerWrap.onLittle
                                div.projectHoverBg
                                    span.proShawdow.proLeftShawdowBg
                                    span.proShawdow.proRightShawdowBg
                                    div.innerProBG
                            h1.summitProjectLogo
                                span Summit Projects
                            h2.clientProjectLogo
                                span Remington 1816
                            h5.tpyeOfProject
                                span.proTypeOne Ecommerce 
                                span.proTypePluls + 
                                span.proTypeTwo Lifestyle Site
                            div.proBtnWrap.onLittle
                                span.projectBtn View Work
                //- Test Project 2 1816
                li#remington1816.featuredProject3
                    a(href="#projectName", data-client="#")
                        div.projectDeetsWrap
                            div.proInnerWrap.onLittle
                                div.projectHoverBg
                                    span.proShawdow.proLeftShawdowBg
                                    span.proShawdow.proRightShawdowBg
                                    div.innerProBG
                            h1.summitProjectLogo
                                span Summit Projects
                            h2.clientProjectLogo
                                span Remington 1816
                            h5.tpyeOfProject
                                span.proTypeOne Ecommerce 
                                span.proTypePluls + 
                                span.proTypeTwo Lifestyle Site
                            div.proBtnWrap.onLittle
                                span.projectBtn View Work
                //- Test Project 4 vega
                li#vega.featuredProject4
                    a(href="#projectName", data-client="#")
                        div.projectDeetsWrap
                            div.proInnerWrap.onLittle
                                div.projectHoverBg
                                    span.proShawdow.proLeftShawdowBg
                                    span.proShawdow.proRightShawdowBg
                                    div.innerProBG
                            h1.summitProjectLogo
                                span Summit Projects
                            h2.clientProjectLogo
                                span Remington 1816
                            h5.tpyeOfProject
                                span.proTypeOne Ecommerce 
                                span.proTypePluls + 
                                span.proTypeTwo Lifestyle Site
                            div.proBtnWrap.onLittle
                                span.projectBtn View Work
                //- End Project Row 1




                //- Begin Row 2

                //- Test Project 1 1816
                li#remington1816.featuredProject5
                    a(href="#projectName", data-client="#")
                        div.projectDeetsWrap
                            div.proInnerWrap.onLittle
                                div.projectHoverBg
                                    span.proShawdow.proLeftShawdowBg
                                    span.proShawdow.proRightShawdowBg
                                    div.innerProBG
                            h1.summitProjectLogo
                                span Summit Projects
                            h2.clientProjectLogo
                                span Remington 1816
                            h5.tpyeOfProject
                                span.proTypeOne Ecommerce 
                                span.proTypePluls + 
                                span.proTypeTwo Lifestyle Site
                            div.proBtnWrap.onLittle
                                span.projectBtn View Work
                //- Test Project 2 vega
                li#vega.featuredProject6
                    a(href="#projectName", data-client="#")
                        div.projectDeetsWrap
                            div.proInnerWrap.onLittle
                                div.projectHoverBg
                                    span.proShawdow.proLeftShawdowBg
                                    span.proShawdow.proRightShawdowBg
                                    div.innerProBG
                            h1.summitProjectLogo
                                span Summit Projects
                            h2.clientProjectLogo
                                span Remington 1816
                            h5.tpyeOfProject
                                span.proTypeOne Ecommerce 
                                span.proTypePluls + 
                                span.proTypeTwo Lifestyle Site
                            div.proBtnWrap.onLittle
                                span.projectBtn View Work
                //- Test Project 2 1816
                li#remington1816.featuredProject7
                    a(href="#projectName", data-client="#")
                        div.projectDeetsWrap
                            div.proInnerWrap.onLittle
                                div.projectHoverBg
                                    span.proShawdow.proLeftShawdowBg
                                    span.proShawdow.proRightShawdowBg
                                    div.innerProBG
                            h1.summitProjectLogo
                                span Summit Projects
                            h2.clientProjectLogo
                                span Remington 1816
                            h5.tpyeOfProject
                                span.proTypeOne Ecommerce 
                                span.proTypePluls + 
                                span.proTypeTwo Lifestyle Site
                            div.proBtnWrap.onLittle
                                span.projectBtn View Work
                //- Test Project 4 vega
                li#vega.featuredProject8
                    a(href="#projectName", data-client="#")
                        div.projectDeetsWrap
                            div.proInnerWrap.onLittle
                                div.projectHoverBg
                                    span.proShawdow.proLeftShawdowBg
                                    span.proShawdow.proRightShawdowBg
                                    div.innerProBG
                            h1.summitProjectLogo
                                span Summit Projects
                            h2.clientProjectLogo
                                span Remington 1816
                            h5.tpyeOfProject
                                span.proTypeOne Ecommerce 
                                span.proTypePluls + 
                                span.proTypeTwo Lifestyle Site
                            div.proBtnWrap.onLittle
                                span.projectBtn View Work
                //- End Project Row 2




                //- Begin Row 3

                //- Test Project 1 1816
                li#remington1816.featuredProject9
                    a(href="#projectName", data-client="#")
                        div.projectDeetsWrap
                            div.proInnerWrap.onLittle
                                div.projectHoverBg
                                    span.proShawdow.proLeftShawdowBg
                                    span.proShawdow.proRightShawdowBg
                                    div.innerProBG
                            h1.summitProjectLogo
                                span Summit Projects
                            h2.clientProjectLogo
                                span Remington 1816
                            h5.tpyeOfProject
                                span.proTypeOne Ecommerce 
                                span.proTypePluls + 
                                span.proTypeTwo Lifestyle Site
                            div.proBtnWrap.onLittle
                                span.projectBtn View Work
                //- Test Project 2 vega
                li#vega.featuredProject10
                    a(href="#projectName", data-client="#")
                        div.projectDeetsWrap
                            div.proInnerWrap.onLittle
                                div.projectHoverBg
                                    span.proShawdow.proLeftShawdowBg
                                    span.proShawdow.proRightShawdowBg
                                    div.innerProBG
                            h1.summitProjectLogo
                                span Summit Projects
                            h2.clientProjectLogo
                                span Remington 1816
                            h5.tpyeOfProject
                                span.proTypeOne Ecommerce 
                                span.proTypePluls + 
                                span.proTypeTwo Lifestyle Site
                            div.proBtnWrap.onLittle
                                span.projectBtn View Work
                //- Test Project 2 1816
                li#remington1816.featuredProject11
                    a(href="#projectName", data-client="#")
                        div.projectDeetsWrap
                            div.proInnerWrap.onLittle
                                div.projectHoverBg
                                    span.proShawdow.proLeftShawdowBg
                                    span.proShawdow.proRightShawdowBg
                                    div.innerProBG
                            h1.summitProjectLogo
                                span Summit Projects
                            h2.clientProjectLogo
                                span Remington 1816
                            h5.tpyeOfProject
                                span.proTypeOne Ecommerce 
                                span.proTypePluls + 
                                span.proTypeTwo Lifestyle Site
                            div.proBtnWrap.onLittle
                                span.projectBtn View Work
                //- Test Project 4 vega
                li#vega.featuredProject12
                    a(href="#projectName", data-client="#")
                        div.projectDeetsWrap
                            div.proInnerWrap.onLittle
                                div.projectHoverBg
                                    span.proShawdow.proLeftShawdowBg
                                    span.proShawdow.proRightShawdowBg
                                    div.innerProBG
                            h1.summitProjectLogo
                                span Summit Projects
                            h2.clientProjectLogo
                                span Remington 1816
                            h5.tpyeOfProject
                                span.proTypeOne Ecommerce 
                                span.proTypePluls + 
                                span.proTypeTwo Lifestyle Site
                            div.proBtnWrap.onLittle
                                span.projectBtn View Work
                //- End Project Row 3


                //- Begin Row 4

                //- Test Project 1 1816
                li#projectName.featuredProject13
                    a(href="#projectName", data-client="#")
                        div.projectDeetsWrap
                            div.proInnerWrap.onLittle
                                div.projectHoverBg
                                    span.proShawdow.proLeftShawdowBg
                                    span.proShawdow.proRightShawdowBg
                                    div.innerProBG
                            h1.summitProjectLogo
                                span Summit Projects
                            h2.clientProjectLogo
                                span Remington 1816
                            h5.tpyeOfProject
                                span.proTypeOne Ecommerce 
                                span.proTypePluls + 
                                span.proTypeTwo Lifestyle Site
                            div.proBtnWrap.onLittle
                                span.projectBtn View Work
                //- Test Project 2 vega
                li#vega.featuredProject14
                    a(href="#projectName", data-client="#")
                        div.projectDeetsWrap
                            div.proInnerWrap.onLittle
                                div.projectHoverBg
                                    span.proShawdow.proLeftShawdowBg
                                    span.proShawdow.proRightShawdowBg
                                    div.innerProBG
                            h1.summitProjectLogo
                                span Summit Projects
                            h2.clientProjectLogo
                                span Remington 1816
                            h5.tpyeOfProject
                                span.proTypeOne Ecommerce 
                                span.proTypePluls + 
                                span.proTypeTwo Lifestyle Site
                            div.proBtnWrap.onLittle
                                span.projectBtn View Work
                //- Test Project 2 1816
                li#remington1816.featuredProject15
                    a(href="#projectName", data-client="#")
                        div.projectDeetsWrap
                            div.proInnerWrap.onLittle
                                div.projectHoverBg
                                    span.proShawdow.proLeftShawdowBg
                                    span.proShawdow.proRightShawdowBg
                                    div.innerProBG
                            h1.summitProjectLogo
                                span Summit Projects
                            h2.clientProjectLogo
                                span Remington 1816
                            h5.tpyeOfProject
                                span.proTypeOne Ecommerce 
                                span.proTypePluls + 
                                span.proTypeTwo Lifestyle Site
                            div.proBtnWrap.onLittle
                                span.projectBtn View Work
                //- Test Project 4 vega
                li#vega.featuredProject16.lastFeaturedProject
                    a(href="#projectName", data-client="#")
                        div.projectDeetsWrap
                            div.proInnerWrap.onLittle
                                div.projectHoverBg
                                    span.proShawdow.proLeftShawdowBg
                                    span.proShawdow.proRightShawdowBg
                                    div.innerProBG
                            h1.summitProjectLogo
                                span Summit Projects
                            h2.clientProjectLogo
                                span Remington 1816
                            h5.tpyeOfProject
                                span.proTypeOne Ecommerce 
                                span.proTypePluls + 
                                span.proTypeTwo Lifestyle Site
                            div.proBtnWrap.onLittle
                                span.projectBtn View Work
                //- End Project Row 4

    //- div.modalPop.modalNewsLetter
    //-     section
    //-         div.modalHead
    //-             h2 Newsletter Sign Up
    //-             a.modalCloseBtn Close
    //-         div.modalContent
    //-             p Maecenas faucibus mollis interdum. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    //-             form.darkInputs(method="post", action="")
    //-                     input.whiteInput(type='text', placeholder="Email Address")
    //-                     input.greenSubmit(type='submit', value='Sign Up')
    //-     div.modalLegalTxt 
    //-      a.legalQuestionTxt(href="#") Questions about our 
    //-         span Privacy Policy?


    //- div.modalPop.modalNewsShare
    //-     section
    //-         div.modalHead
    //-             h2 Share With Friends
    //-             a.modalCloseBtn Close
    //-         div.modalContent
    //-             ul.modalShareList
    //-                 li
    //-                     a(href="").shareSocialIcon.modalShareFace
    //-                         i(class="fa fa-facebook")
    //-                         span Facebook
    //-                 li
    //-                     a(href="").shareSocialIcon.modalShareTwitter
    //-                         i(class="fa fa-twitter")
    //-                         span Twitter
    //-                 li
    //-                     a(href="").shareSocialIcon.modalSharePin
    //-                         i(class="fa fa-pinterest")
    //-                         span Pintrest
    //-                 li
    //-                     a(href="").shareSocialIcon.modalSharePlus
    //-                         i(class="fa fa-google-plus")
    //-                         span Google+

    //-         a.modalShareEmail(href="#")
    //-             i(class="fa fa-envelope")
    //-             span Use your Email Account

       