doctype
//if lt IE 7
  <html class="no-js lt-ie9 lt-ie8 lt-ie7">
//if IE 7
  <html class="no-js lt-ie9 lt-ie8">
//if IE 8
  <html class="no-js lt-ie9">
//[if gt IE 8]><!
html.no-js
  //<![endif]
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='assests/css/style.css')
    link(rel='stylesheet', href='assests/css/icons.css')

    // Google Font
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Lato:400,700')
    //-script(src='javascripts/vendor/modernizr-2.6.2.min.js')
  body
    //if lt IE 7
      p.browsehappy
        | You are using an <strong>outdated</strong> browser.
        | Please <a href="http://browsehappy.com/">upgrade your browser</a>
        | to improve your experience.

    div.gNav
        div.mobileMenuHead
            h1 
                a(href="#") Summit Projects
            h2 Big Ideas for Great Breands
        nav
            ul
                li
                    a(href="#") Work
                li
                    a(href="#") Services
                li
                    a(href="#") Contact
                li
                    a(href="#") Blog
                li
                    a(href="#") Newsletter Signup
     

    header.gHead
        div.topwrap
            h1.gLogo Summit Projects
            i(class="fa fa-search")
            a(href="#", id="menuIcon", class="menuIcon") Menu
        div.crumbs
            a(href="#") Home / 
            a(href="#") Big Ideas Blog

    div.blogHero This is the blog hero

    div.blogNavWrap

        ul.blogNavDd
            li 
                a(href="#", id="menuIconBlog", class="menuIconBlog") Blog Navagation
                    span
                i(class="fa fa-search")
                div.mBlogSearch
                    input(type='search') Search
                    input(type='submit', value='Search Blog') 
                    a(href="#") Close Search
                ul
                    li
                        a(href="#") Item DD 1
                    li
                        a(href="#") Item DD 2
                    li
                        a(href="#") Item DD 3

    //- START THE SITE
    div.wrap 

        //- BLOG POST
        section.postWrap
            div(class="postImgWrap", style="background-image:'';")
            div.postDate
                time 1 / 6 / 2014
                a(href="http://johnsplace.com", rel="author") Author: 
                    author Caleb Stauss
            h2 Curabb itur blandit tem abipus portt itor.
            p Maecenas faucibus mollis interdum. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur blandit tempus porttitor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Maecenas faucibus mollis interdum. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur blandit tempus porttitor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.
            a(href="#", class="btn btnG ") Read More
            a(href="#", class="btn btnB Share") Share This

        //- BLOG POST
        section.postWrap
            div(class="postImgWrap", style="background-image:'';")
            div.postDate
                time 1 / 6 / 2014
                a(href="http://johnsplace.com", rel="author") Author: 
                    author Caleb Stauss
            h2 Curabb itur blandit tem abipus portt itor.
            p Maecenas faucibus mollis interdum. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur blandit tempus porttitor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Maecenas faucibus mollis interdum. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur blandit tempus porttitor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.
            a(href="#", class="btn btnG ") Read More
            a(href="#", class="btn btnB Share") Share This

        //- BLOG POST
        section.postWrap
            div(class="postImgWrap", style="background-image:'';")
            div.postDate
                time 1 / 6 / 2014
                a(href="http://johnsplace.com", rel="author") Author: 
                    author Caleb Stauss
            h2 Curabb itur blandit tem abipus portt itor.
            p Maecenas faucibus mollis interdum. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur blandit tempus porttitor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Maecenas faucibus mollis interdum. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur blandit tempus porttitor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.
            a(href="#", class="btn btnG ") Read More
            a(href="#", class="btn btnB Share") Share This

    div.paginationWrap
        ul
            li
                a(href="#", class="prevArrow") Prev
            li
                a(href="#", class="activePageLink") 1
            li
                a(href="#") 2
            li
                a(href="#") 3
            li
                a(href="#") 4
            li
                a(href="#") 5
            li
                a(href="#", class="nextArrow") Next

    footer.gFoot
        h2 Big Ideas for Great Brands
        a(href="tel:")
            address 101.5 Oak St. Hood River, Or
        a(href="tel:") 541.399.4683
        div.footBottom
            p ©summit projects 2014
            a(href="#") Privacy policy

    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
    script.
      window.jQuery || document.write('<script src="javascripts/vendor/jquery-1.10.2.min.js"><\/script>')

    script(src='assests/js/vendor/menu.js')

    script

        $(document).ready(function() {

            //Mobile Nav Logic
            var $menuIcon = $('#menuIcon'),
                $gNav = $('.gNav');

            $menuIcon.on('click', function(){

                // if mobile nav is not on
                if(!$gNav.hasClass('on')){
                    $gNav.addClass('on');
                }
                else {
                    $gNav.removeClass('on');
                }

            });


        });

        //- $(document).ready(function() {
        //-   $('#simple-menu').sidr();
        //- });



    //-script(src='javascripts/plugins.js')
    //-script(src='javascripts/script.js')

    //- Google Analytics: change UA-XXXXX-X to be your site's ID.
    //-
      script.
        (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
        function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
        e=o.createElement(i);r=o.getElementsByTagName(i)[0];
        e.src='//www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
        ga('create','UA-XXXXX-X');ga('send','pageview');