




href="#1816"


div.projectSlideWrap#projectSlider

    //- position rel
    //- use the id of client name to add custom styles based on project
    div.innerSliderWrap#clientName

        //- Background that changes base on project
        div.projectBackground(style="background-image='';")

            //- Slash shawdow that creates a background for text
            div.diagonalShawdow

            //- Utility Action Buttons (exit btn, left btn, right btn)
            a.sliderBtn.sliderExitBtn(href="#")
            a.sliderBtn.sliderLeftBtn(href="#")
            a.sliderBtn.sliderRightBtn(href="#")

            div.slide
                //- this is the custom project image ex(man with gun for 1816)
                div.projectImageWrap
                    //- actual may be a background image
                    img.mainProjectImage(scr="")

















