extends layout
    
block content

    div.bodyBgWrap


    //- Bread Crumbs
    nav.gCrumbs.wBg.borderB.mobileCrumbs.offSmall
        ul
            li
                a(href="#") Blog  
            li
                span /
            li 
                a(href="#") Web Design
            li
                span /
            li
                 a(href="#")  Something Awesome

    div.content

        //- Start All Content
        div.wrap
            
            //- Bread Crumbs
            nav.gCrumbs.onSmall
                ul
                    li
                        a(href="#") Blog  
                    li
                        span /
                    li 
                        a(href="#") Web Design
                    li
                        span /
                    li
                         a(href="#")  Something Awesome
            header.smallHeader
                h1 Search results for awesome

            //- wraps all posts
            div.postWrap.fullPostResultsWrap.searchResultWrap
                div.resultsWrapInner.border.toutShowdow
                    //- Post Layout | includes pagination
                    include templates/blog/searchlist.jade

            //-div.sbWrap.onLittle 
            div.sbWrap.singleSidebarWrap.sbWrapRight.onLittle
                //- Main Sidebar
                include templates/blog/sidebars/main.jade


