extends layout
    
block content

    //- Bread Crumbs
    nav.gCrumbs.wBg.borderB.mobileCrumbs.offSmall
        ul
            li
                a(href="#") Home
            li
                span /
            li 
                a(href="#") Big Ideas Blog

    //- Blog Header
    include templates/headers/blogheader.jade

    div.content

        //- Start All Content
        div.wrap
            
            //- Bread Crumbs
            nav.gCrumbs.onSmall
                ul
                    li
                        a(href="#") Home
                    li
                        span /
                    li 
                        a(href="#") Big Ideas Blog

            div.servicesAboutWrap
                div.servicesAboutInnerWrap
                    div.servicesSlider
                        div#mySwipe.swipe(style='max-width:500px; margin:0 auto')
                            div.swipeWrap
                                div
                                    img(src="assests/img/delete/slide1.jpg")
                                div 
                                    img(src="assests/img/delete/slide2.jpg")
                                div
                                    img(src="assests/img/delete/slide3.jpg")



                    section.servicesTextWrap
                        h2 Who we are
                        p Maecenas faucibus mollis interdum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Nulla vitae elit libero, a pharetra augue. 

                        span.diamondSumitLogo
                        div.sloganWrap.onSmall
                            h5 Big ideas for great brands
                            ul
                                li 101.5 Oak St. Hood River, Or
                                li 541.399.4683

            div.servicesCapWrap
                div.servicesCapRow
                    h2 Our Capabilities
                    section
                        h4 Development
                        p Maecenas faucibus mollis interdum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Nulla vitae elit libero, a pharetra augue. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.
                    section
                        h4 Design
                        p Maecenas faucibus mollis interdum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Nulla vitae elit libero, a pharetra augue. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.
                    section
                        h4 Mobile
                        p Maecenas faucibus mollis interdum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Nulla vitae elit libero, a pharetra augue. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.
                    section
                        h4 Strategy
                        p Maecenas faucibus mollis interdum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Nulla vitae elit libero, a pharetra augue. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.


                div.servicesCapRow
                    section
                        h4 Development
                        p Maecenas faucibus mollis interdum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Nulla vitae elit libero, a pharetra augue. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.
                    section
                        h4 Design
                        p Maecenas faucibus mollis interdum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Nulla vitae elit libero, a pharetra augue. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.
                    section
                        h4 Mobile
                        p Maecenas faucibus mollis interdum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Nulla vitae elit libero, a pharetra augue. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.
                    section
                        h4 Strategy
                        p Maecenas faucibus mollis interdum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Nulla vitae elit libero, a pharetra augue. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.


            div.servicesClientWrap
                section
                    div.servicesClientTextWrap
                        div.servicesClientTextInner
                            h2 Who we work with
                            p Maecenas faucibus mollis interdum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Nulla vitae elit libero, a pharetra augue. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.

                        //- 1816
                        section#remington1816.clientAboutHoverSection.hidden
                            h6 Remington 1816
                            p Nullam quis risus eget urna mollis ornare vel eu leo. Donec id elit non mi porta gravida at eget metus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed posuere consectetur est at lobortis. Nulla vitae elit libero, a pharetra augue.

                        //- ISK
                        section#intelliskin.clientAboutHoverSection.hidden
                            h6 Intelliskin
                            p Ulla vitae elit libero, a pharetra augue. Nullam quis risus eget urna mollis ornare vel eu leo. Donec id elit non mi porta gravida at eget metus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed posuere consectetur est at lobortis.

                        //- MK
                        section#mountainKhakis.clientAboutHoverSection.hidden
                            h6 Mk
                            p Ulla vitae elit libero, a pharetra augue. Nullam quis risus eget urna mollis ornare vel eu leo. Donec id elit non mi porta gravida at eget metus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed posuere consectetur est at lobortis.

                        //- WP
                        section#wellpartner.clientAboutHoverSection.hidden
                            h6 Wp
                            p Ulla vitae elit libero, a pharetra augue. Nullam quis risus eget urna mollis ornare vel eu leo. Donec id elit non mi porta gravida at eget metus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed posuere consectetur est at lobortis.

                        //- BK
                        section#bendixKing.clientAboutHoverSection.hidden
                            h6 BK
                            p Ulla vitae elit libero, a pharetra augue. Nullam quis risus eget urna mollis ornare vel eu leo. Donec id elit non mi porta gravida at eget metus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed posuere consectetur est at lobortis.

                        //- CalNatural
                        section#calNatural.clientAboutHoverSection.hidden
                            h6 CalNatural
                            p Ulla vitae elit libero, a pharetra augue. Nullam quis risus eget urna mollis ornare vel eu leo. Donec id elit non mi porta gravida at eget metus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed posuere consectetur est at lobortis.

                        //- Farbank
                        section#farbank.clientAboutHoverSection.hidden
                            h6 Farbank
                            p Ulla vitae elit libero, a pharetra augue. Nullam quis risus eget urna mollis ornare vel eu leo. Donec id elit non mi porta gravida at eget metus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed posuere consectetur est at lobortis.

                        //- WP
                        section#icebreaker.clientAboutHoverSection.hidden
                            h6 Icebreaker
                            p Ulla vitae elit libero, a pharetra augue. Nullam quis risus eget urna mollis ornare vel eu leo. Donec id elit non mi porta gravida at eget metus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed posuere consectetur est at lobortis.


                    div.servicesClientListWrap
                        ul
                            li.servicesListCallOut

                            div.servicesListClientName
                                li(data-client-link="remington1816") Remington 1816
                                li(data-client-link="intelliskin") Intelliskin
                                li(data-client-link="mountainKhakis") Mountain Khakis
                                li(data-client-link="wellpartner") Wellpartner
                                li(data-client-link="bendixKing") Bendix King
                                li(data-client-link="calNatural") CalNatural
                                li(data-client-link="farbank") Farbank
                                li(data-client-link="icebreaker") Icebreaker

                            div.servicesListClientName
                                li(data-client-link="remington1816") Remington 1816
                                li(data-client-link="intelliskin") Intelliskin
                                li(data-client-link="mountainKhakis") Mountain Khakis
                                li(data-client-link="wellpartner") Wellpartner
                                li(data-client-link="bendixKing") Bendix King
                                li(data-client-link="calNatural") CalNatural
                                li(data-client-link="farbank") Farbank
                                li(data-client-link="icebreaker") Icebreaker
                               
                            div.servicesListClientName
                                li(data-client-link="remington1816") Remington 1816
                                li(data-client-link="intelliskin") Intelliskin
                                li(data-client-link="mountainKhakis") Mountain Khakis
                                li(data-client-link="wellpartner") Wellpartner
                                li(data-client-link="bendixKing") Bendix King
                                li(data-client-link="calNatural") CalNatural
                                li(data-client-link="farbank") Farbank
                                li(data-client-link="icebreaker") Icebreaker

    div.servicesLocationWrap
        section.servicesCenterWrap
            div.servicesLocationPopUp
                section
                    h2 Summit Projects
                    div.servicesLocationTextWrap
                        ul
                            li
                                a(href="#") 541.399.4683
                            li 101.5 Oak Street,
                            li Hood River OR, 97031
                        a.btn.btnG(href="") Launch Map
















