
<aside class="blogSb darkSb">
  <div class="innerSbWrap">
    <section class="sbSearch"><a id="searchMobileTrigger" href="#" class="sbSearchTriggerM">Search</a>
      <!-- h6 Search Summit Blog-->
      <div class="sbSearchWrap">
        <form method="get" action="" class="darkInputs searchForm">
          <input type="search" placeholder="Search"/>
          <input type="submit" value="Search"/>
        </form>
      </div>
    </section>
    <section class="sbListWrap">
      <h6>Blog Post Archives</h6>
      <ul>
        <li><a href="#">December</a></li>
        <li><a href="#">November</a></li>
        <li><a href="#">October</a></li>
      </ul><a href="#" class="sbViewAll">View all Archives</a>
    </section>
    <section class="sbListWrap">
      <h6>Categories</h6>
      <ul>
        <li><a href="#">Web Design</a></li>
        <li><a href="#">Web Development</a></li>
        <li><a href="#">Technology</a></li>
      </ul><a href="#" class="sbViewAll">View all Categories</a>
    </section>
  </div>
</aside>