//- News Sidebar 
aside.newsSb.onSmall

    //- News Article
    section.newsArticlePrevWrap.border.toutShowdow.wBg
        article
            div.postDateWrap.sinlgePostPrev.newsSbDateWrap
                div.postDateInnerWrap.borderB
                    time 1 / 6 / 2014
                    a(href="#") Web News
            div.postTextWrap
                article
                    a(href="#")
                        h5 Aenean lacinia biben nulla sed consectetur.
                    p Curabitur blandit tempus porttitor. Cras mattis consectetur purus sit amet fermentum. Nean lacinia bibendum nulla sed consectetur. Nulla tae elit lero, a pharetra augue.
                    a(href="#", class="btn btnG ") Read More
                    a(href="#", class="btn btnB Share") Share

    //- News Article
    section.newsArticlePrevWrap.border.toutShowdow.wBg
        article
            div.postDateWrap.sinlgePostPrev.newsSbDateWrap
                div.postDateInnerWrap.borderB
                    time 1 / 6 / 2014
                    a(href="#") Web News
            div.postTextWrap
                article
                    a(href="#")
                        h5 Aenean lacinia biben nulla sed consectetur.
                    p Curabitur blandit tempus porttitor. Cras mattis consectetur purus sit amet fermentum. Nean lacinia bibendum nulla sed consectetur. Nulla tae elit lero, a pharetra augue.
                    a(href="#", class="btn btnG ") Read More
                    a(href="#", class="btn btnB Share") Share

    //- News Article
    section.newsArticlePrevWrap.border.toutShowdow.wBg
        article
            div.postDateWrap.sinlgePostPrev.newsSbDateWrap
                div.postDateInnerWrap.borderB
                    time 1 / 6 / 2014
                    a(href="#") Web News
            div.postTextWrap
                article
                    a(href="#")
                        h5 Aenean lacinia biben nulla sed consectetur.
                    p Curabitur blandit tempus porttitor. Cras mattis consectetur purus sit amet fermentum. Nean lacinia bibendum nulla sed consectetur. Nulla tae elit lero, a pharetra augue.
                    a(href="#", class="btn btnG ") Read More
                    a(href="#", class="btn btnB Share") Share
