//- News Sidebar 
aside.relatedSb.wBg.border.toutShowdow

    header.relatedHeader
        h5 You may also like

    //- related Article
    section.relatedArticlePrevWrap
        article
            div.postTextWrap
                article
                    a(href="#")
                        h6 Aenean lacinia biben nulla sed consectetur.
                    p Curabitur blandit tempus porttitor. Cras mattis consectetur purus sit amet fermentum. Nean lacinia bibendum nulla sed consectetur. Nulla tae elit lero, a pharetra augue.
                    a(href="#", class="btn btnG ") Read More
                    a(href="#", class="btn btnB Share") Share

    //- related Article
    section.relatedArticlePrevWrap
        article
            div.postTextWrap
                article
                    a(href="#")
                        h6 Aenean lacinia biben nulla sed consectetur.
                    p Curabitur blandit tempus porttitor. Cras mattis consectetur purus sit amet fermentum. Nean lacinia bibendum nulla sed consectetur. Nulla tae elit lero, a pharetra augue.
                    a(href="#", class="btn btnG ") Read More
                    a(href="#", class="btn btnB Share") Share

    //- related Article
    section.relatedArticlePrevWrap
        article
            div.postTextWrap
                article
                    a(href="#")
                        h6 Aenean lacinia biben nulla sed consectetur.
                    p Curabitur blandit tempus porttitor. Cras mattis consectetur purus sit amet fermentum. Nean lacinia bibendum nulla sed consectetur. Nulla tae elit lero, a pharetra augue.
                    a(href="#", class="btn btnG ") Read More
                    a(href="#", class="btn btnB Share") Share