
<aside class="relatedSb wBg border toutShowdow">
  <header class="relatedHeader">
    <h5>You may also like</h5>
  </header>
  <section class="relatedArticlePrevWrap">
    <article>
      <div class="postTextWrap">
        <article><a href="#">
            <h6>Aenean lacinia biben nulla sed consectetur.</h6></a>
          <p>Curabitur blandit tempus porttitor. Cras mattis consectetur purus sit amet fermentum. Nean lacinia bibendum nulla sed consectetur. Nulla tae elit lero, a pharetra augue.</p><a href="#" class="btn btnG ">Read More</a><a href="#" class="btn btnB Share">Share</a>
        </article>
      </div>
    </article>
  </section>
  <section class="relatedArticlePrevWrap">
    <article>
      <div class="postTextWrap">
        <article><a href="#">
            <h6>Aenean lacinia biben nulla sed consectetur.</h6></a>
          <p>Curabitur blandit tempus porttitor. Cras mattis consectetur purus sit amet fermentum. Nean lacinia bibendum nulla sed consectetur. Nulla tae elit lero, a pharetra augue.</p><a href="#" class="btn btnG ">Read More</a><a href="#" class="btn btnB Share">Share</a>
        </article>
      </div>
    </article>
  </section>
  <section class="relatedArticlePrevWrap">
    <article>
      <div class="postTextWrap">
        <article><a href="#">
            <h6>Aenean lacinia biben nulla sed consectetur.</h6></a>
          <p>Curabitur blandit tempus porttitor. Cras mattis consectetur purus sit amet fermentum. Nean lacinia bibendum nulla sed consectetur. Nulla tae elit lero, a pharetra augue.</p><a href="#" class="btn btnG ">Read More</a><a href="#" class="btn btnB Share">Share</a>
        </article>
      </div>
    </article>
  </section>
</aside>