/* ============================================================

1816 Project Settings

============================================================ */

/*-------------------------------------------------------------
 
	1. The background position of the clients logo

	2. The Project Thumbnail

	3. Project Slider background

	4. Project Slider Custom Background Image

	4. Project Slider Custom Background Image Postion

-------------------------------------------------------------*/


$proLogoPos      : 100px 100px;

$proThumbMobile  : 'mThumb.jpg';
$proThumb        : 'thumb.jpg';

$proSlideBg      : 'slideBg.jpg';

$proBrandImg     : 'brandImg.png';
$proBrandImgPos  : 100px 100px;
