/* ============================================================

1220

============================================================ */
.content {
  width: 1200px;
  margin: 0 auto; }

.postWrap {
  padding: 0 15px 15px 0px; }

.gCrumbs {
  padding: 0px; }
