
<div class="paginationWrap wBg borderB">
  <div class="innerPagination">
    <nav>
      <ul>
        <li><a href="#" class="prevArrow pageArrow pageArrowOnly"><span>Prev</span></a></li>
        <div class="pageNumWrap">
          <div>
            <li><a href="#" class="activePageLink">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
          </div>
        </div>
        <li><a href="#" class="nextArrow pageArrow pageArrowOnly"><span>Next</span></a></li>
      </ul>
    </nav>
  </div>
</div>
<section class="postSection borderB">
  <div class="postTextWrap">
    <div class="postDateWrap sinlgePostPrev">
      <div class="postDateInnerWrap borderB">
        <time>1 / 6 / 2014</time>
      </div>
    </div>
    <article><a href="#">
        <h2>Curabb itur blandit tem abipus portt itor.</h2>
        <p>Maecenas faucibus mollis interdum. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur blandit tempus porttitor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Maecenas faucibus mollis interdum.</p></a>
      <ul class="catList">
        <li><a href="">Web Design</a></li>
        <li><a href="">Web Development</a></li>
        <li><a href="">Web Strategy</a></li>
      </ul>
    </article>
  </div>
</section>
<section class="postSection borderB">
  <div class="postTextWrap">
    <div class="postDateWrap sinlgePostPrev">
      <div class="postDateInnerWrap borderB">
        <time>1 / 6 / 2014</time>
      </div>
    </div>
    <article><a href="#">
        <h2>Curabb itur blandit tem abipus portt itor.</h2>
        <p>Maecenas faucibus mollis interdum. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur blandit tempus porttitor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Maecenas faucibus mollis interdum. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur blandit tempus porttitor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p></a>
      <ul>
        <li><a href="">Web Design</a></li>
        <li><a href="">Web Development</a></li>
        <li><a href="">Web Strategy</a></li>
      </ul>
    </article>
  </div>
</section>
<section class="postSection borderB">
  <div class="postTextWrap">
    <div class="postDateWrap sinlgePostPrev">
      <div class="postDateInnerWrap borderB">
        <time>1 / 6 / 2014</time>
      </div>
    </div>
    <article><a href="#">
        <h2>Curabb itur blandit tem abipus portt itor.</h2>
        <p>Maecenas faucibus mollis interdum. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur blandit tempus porttitor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Maecenas faucibus mollis interdum. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur blandit tempus porttitor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p></a>
      <ul>
        <li><a href="">Web Design</a></li>
        <li><a href="">Web Development</a></li>
        <li><a href="">Web Strategy</a></li>
      </ul>
    </article>
  </div>
</section>
<section class="postSection borderB">
  <div class="postTextWrap">
    <div class="postDateWrap sinlgePostPrev">
      <div class="postDateInnerWrap borderB">
        <time>1 / 6 / 2014</time>
      </div>
    </div>
    <article><a href="#">
        <h2>Curabb itur blandit tem abipus portt itor.</h2>
        <p>Maecenas faucibus mollis interdum. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur blandit tempus porttitor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Maecenas faucibus mollis interdum. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur blandit tempus porttitor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p></a>
      <ul>
        <li><a href="">Web Design</a></li>
        <li><a href="">Web Development</a></li>
        <li><a href="">Web Strategy</a></li>
      </ul>
    </article>
  </div>
</section>