
<header id="mainNav" class="gHead">   
  <div class="gNav"><a href="#main-navigation" class="gLogo">
      <h1>Summit Projects</h1></a><i class="fa fa-search offLittle"></i><a id="mobileMenuTrig" href="#" class="menuIcon offLittle"></a>
    <div class="menuWrap">
      <div class="navInnerWrap"><a href="" class="navCloseBtn"></a>
        <div class="mobileMenuHead">
          <h1> <a href="#">Summit Projects</a></h1>
          <h2>Big Ideas for Great Breands</h2>
        </div>
        <nav>
          <ul>
            <li class="firstLink"><a href="#">Work</a></li>
            <li class="secondLink"><a href="#">Services</a></li>
            <li class="thirdLink"><a href="#">Contact</a></li>
            <li class="forthLink"><a href="#">Blog</a></li>
            <li class="offLittle"><span>Newsletter Signup</span><a href="#" class="btn btnW">Sign Up Now</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>