//- Global Header
header.gHead           
    div.gNav

        a.gLogo(href="#")
            h1 Summit Projects

        i(class="fa fa-search offLittle")
        a(href="#", id="menuIcon", class="menuIcon offLittle")

        div.menuWrap
            nav(role="navigation")
                div.mobileMenuHead
                    h1 
                        a(href="#") Summit Projects
                    h2 Big Ideas for Great Breands
                ul
                    li.firstLink
                        a(href="#") Work
                    li.secondLink
                        a(href="#") Services
                    li.thirdLink
                        a(href="#") Contact
                    li.forthLink
                        a(href="#") Blog
                    li.offLittle
                        a(href="#") Newsletter Signup