/* ============================================================

1220

============================================================ */

// max width of the size | past 1220 px then center 
.content { width: 1200px; margin: 0 auto; }


//==========================================================================================================| Blog Index |========|
// remove padding on left to alisg site
.postWrap { padding: 0 15px 15px 0px; }
//================================================================================================================================|


//=======================================================================================================| Crumbs Module |========|
// remove left padding
.gCrumbs {padding: 0px;}
//================================================================================================================================|

.sbWrap.sbWrapLeft, .sbWrap.sbWrapRight  { padding:15px 0 0 0; }




