/* ============================================================

480

============================================================ */


/* 
====================================================== Home page
*/


// the list of all the featured projects
.featuredProjects li {
	@include sizeEl(block, left, 50%, 185px);
}

// fix the bg to cover the whole el
.featuredProjects li > a {
	-webkit-background-size: cover !important;
	-moz-background-size: cover !important;
	-o-background-size: cover !important;
	background-size: cover !important;
}

// client logo wrap
h2.clientProjectLogo {
	@include sizeEl(block, none, 100%, 100%);
	position: absolute;
	padding: 0px;

	// this stop the el from moving on animation
	top: 0px;
	left: 0px;
}

// the client logo itself
h2.clientProjectLogo span {
	@include sizeEl(block, none, 150px, 120px);

	// make the logos smaller
	background-size: 525px 360px;

	// hide the client name and replace with client logo
	overflow: hidden;
	text-indent: -99999px;
	margin: 32px auto;

}








// Featured Project Thumbnails |---------------------------------------------

// Mobile / Tab Background Images
.featuredProject1   > a { background: url(#{$projectDir}#{$project1Folder}#{$tThumb});  } // Project Bg 1
.featuredProject2   > a { background: url(#{$projectDir}#{$project2Folder}#{$tThumb});  } // Project Bg 2
.featuredProject3   > a { background: url(#{$projectDir}#{$project3Folder}#{$tThumb});  } // Project Bg 3
.featuredProject4   > a { background: url(#{$projectDir}#{$project4Folder}#{$tThumb});  } // Project Bg 4
.featuredProject5   > a { background: url(#{$projectDir}#{$project5Folder}#{$tThumb});  } // Project Bg 5
.featuredProject6   > a { background: url(#{$projectDir}#{$project6Folder}#{$tThumb});  } // Project Bg 6
.featuredProject7   > a { background: url(#{$projectDir}#{$project7Folder}#{$tThumb});  } // Project Bg 7
.featuredProject8   > a { background: url(#{$projectDir}#{$project8Folder}#{$tThumb});  } // Project Bg 8
.featuredProject9   > a { background: url(#{$projectDir}#{$project9Folder}#{$tThumb});  } // Project Bg 9
.featuredProject10  > a { background: url(#{$projectDir}#{$project10Folder}#{$tThumb}); } // Project Bg 10
.featuredProject11  > a { background: url(#{$projectDir}#{$project11Folder}#{$tThumb}); } // Project Bg 11
.featuredProject12  > a { background: url(#{$projectDir}#{$project12Folder}#{$tThumb}); } // Project Bg 12
.featuredProject13  > a { background: url(#{$projectDir}#{$project13Folder}#{$tThumb}); } // Project Bg 13
.featuredProject14  > a { background: url(#{$projectDir}#{$project14Folder}#{$tThumb}); } // Project Bg 14
.featuredProject15  > a { background: url(#{$projectDir}#{$project15Folder}#{$tThumb}); } // Project Bg 15
.featuredProject16  > a { background: url(#{$projectDir}#{$project16Folder}#{$tThumb}); } // Project Bg 16


// Featured Project Client Logos |---------------------------------------------

// client logo position
.featuredProject1  h2.clientProjectLogo span { background-position: $p1LogoPos  ; } // Logo Project 1
.featuredProject2  h2.clientProjectLogo span { background-position: $p2LogoPos  ; } // Logo Project 2
.featuredProject3  h2.clientProjectLogo span { background-position: $p3LogoPos  ; } // Logo Project 3
.featuredProject4  h2.clientProjectLogo span { background-position: $p4LogoPos  ; } // Logo Project 4
.featuredProject5  h2.clientProjectLogo span { background-position: $p5LogoPos  ; } // Logo Project 5
.featuredProject6  h2.clientProjectLogo span { background-position: $p6LogoPos  ; } // Logo Project 6
.featuredProject7  h2.clientProjectLogo span { background-position: $p7LogoPos  ; } // Logo Project 7
.featuredProject8  h2.clientProjectLogo span { background-position: $p8LogoPos  ; } // Logo Project 8
.featuredProject9  h2.clientProjectLogo span { background-position: $p9LogoPos  ; } // Logo Project 9
.featuredProject10 h2.clientProjectLogo span { background-position: $p10LogoPos ; } // Logo Project 10
.featuredProject11 h2.clientProjectLogo span { background-position: $p11LogoPos ; } // Logo Project 11
.featuredProject12 h2.clientProjectLogo span { background-position: $p12LogoPos ; } // Logo Project 12
.featuredProject13 h2.clientProjectLogo span { background-position: $p13LogoPos ; } // Logo Project 13
.featuredProject14 h2.clientProjectLogo span { background-position: $p14LogoPos ; } // Logo Project 14
.featuredProject15 h2.clientProjectLogo span { background-position: $p15LogoPos ; } // Logo Project 15
.featuredProject16 h2.clientProjectLogo span { background-position: $p16LogoPos ; } // Logo Project 16





//==========================================================================================================| PDP Page |==========|


//----------------------------------------------------------------| PDP Hero
// set new maxW and maxH
.pdpHero, .pdpHeroContentWrap { min-height: 400px; max-height: 550px; }

//----------------------------------------------------------------| PDP Hero!


//================================================================================================================================|


.contactDropWrap {
	height: 280px;
}

.contactLocationWrap {
	display: none;
}

input.contactDropName, input.contactDropEmail{
	float: left;
	width: 48%;
}

input.contactDropEmail {
	float: right;
}

.contactPrivacyLink {
	float: left;
	position: absolute;
	bottom: 20px;
	left: 110px;
}


.servicesClientListWrap li {
	width: 25%;
}






.servicesCapRow section {
	width: 50%;
	padding: 0 15px 15px 0;
}




.servicesLocationPopUp section {
	max-width: 280px;
}


.servicesLocationWrap {
	padding: 50px 15px;
}



