/* ============================================================

550

============================================================ */

// on / off styles
// things that are only mobile
.offLittle {
	display: none;
	visibility: hidden;
	opacity: 0;
}

// els that turn on at this width
.onLittle {
	display: block;
	visibility: visible;
	opacity: 1;
}

/* 
====================================================== Footer
*/

// socail / news letter bar
.footTop {
	@include sizeEl(none, none, 100%, 50px);
	margin: 0 auto;
	padding: 0px 10px;
	border-bottom: solid 1px $footerBorder;
	overflow: hidden;
}

// Footer social wrap
.footSocial {
	@include sizeEl(block, left, 250px, 50px);
	overflow: hidden;
}

// social icon links
.footSocial li a {
	@include sizeEl(block, left, 35px, 50px);
	padding: 14px 0 0 0;
}

// copy for disabled stylesheets
.footSocial li a span {
	display: none;
}

// social icons themselves
.footSocial i {
	color: $w;
}

// news letter wrap
.footSignUpWrap {
	@include sizeEl(block, right, 300px, 50px);
	position: relative;	
}

.footSignUpWrap span {
	@include sizeEl(block, left, 100px, 50px);
	position: absolute;
	top: 20px;
	left: 0px;
	overflow: hidden;
	font-size: .6em;
	text-transform: uppercase;
	color: $w;
	letter-spacing: .25em;
}

.footSignUpWrap .darkInput {
	@include sizeEl(block, right, 200px, auto);
	position: absolute;
	top: 10px;
	right: 0px;
	padding-left: 10px;
}

.footSignUpWrap .greenSubmit {
	position: absolute;
	height: 30px;
	top: 10px;
	right: -2px;
}

/* 
====================================================== Global Nav Change
*/

// fixes main nav over lap
a.gLogo {
	z-index: 999999;
}

// nav link wraps
.menuWrap {
	@include disBlock();
	position: absolute;
	width: 100%;
	height: 50px;
	top: 0px;
	left: 0px;
	z-index: 0;
}

// main nav
.menuWrap nav {
	@include sizeEl(block, none, 500px, 50px);
	margin: 0 auto;
	position: relative;
}

// main nav list items
.menuWrap nav li {
	@include sizeEl(block, none, 80px, 50px);
	position: absolute;
}

.menuWrap nav li a {
	@include sizeEl(block, none, 80px, 50px);
	padding: 16px 0 0 0;
	color: $w;

	font-family: 'brisko_sansbold';
	font-style: normal;
	text-transform: uppercase;
	font-size: .6em;
	letter-spacing: .3em;
	font-weight: 200;
}

// link positions
.firstLink  { top: 0px; left: 14px;   text-align: right; }
.secondLink { top: 0px; left: 100px; text-align: right; }
.thirdLink  { top: 0px; left: 323px; text-align: left;  }
.forthLink  { top: 0px; left: 409px; text-align: left;  }

// mobile nav menu head 
.mobileMenuHead {
	@include disNone();
}



/* 
====================================================== Home Page
*/







// the list of all the featured projects
.featuredProjects li {
	@include sizeEl(block, left, 33.333333%, 185px);
}

// client logo wrap
h2.clientProjectLogo { 
 top: -15px; 
} 

// on hover animation | this padding is to create the nice hover bow that shrinks
li a:hover .projectDeetsWrap {
	padding: 10px;
}

// add the border to the hover background box
// has to be on hover or it will always have a border and look 1px off
li a:hover .projectHoverBg {
	border: solid 1px rgba(255,255,255,.2);
}

// Show Project btn
.projectBtn {
	@include disBlock(); // hide everything
}


// Hide that last project 
.lastFeaturedProject {
	display: none !important;
}






/* 
====================================================== Project Backgrounds


	this section is where all the project thumbnails on the homepage live.

	these can be edited by just placing the name of the image at the last of the Background property.
	
	____________________________________________________________________
	
	EXAMPLE |  background: url(#{$projectDir}test.jpg);
	___________________________________________________________________

	
	background: url( #{$projectDir}NAME-GOES-HERE.ext );
				        ^       ^
	Project Directry Var______|       |
	                                  |___ The name of the actual file goes here!

	____________________________________________________________________

*/



/* 
====================================================== General Blog 
*/

// resize post wrap
.postWrap {
	width: 65%;
}

//-----------------------------------| Sidebar Archives


// blog side bar
.blogSb {
	@include sizeEl(inline-block, left, 100%, 100%);
}




//==========================================================================================================| PDP Page |==========|




//----------------------------------------------------------------| PDP Hero


// set new maxW and maxH of wrap 
.pdpHero, .pdpHeroContentWrap { min-height: 400px; max-height: 550px; }

// cetner wrap of elements
.pdpProjectEls > .pdpElsCenterWrap { width: 300px; }

// size up background and visually center
.pdpElsCenterWrap .pdpScreenShot { background-size: 300px 246px; right: -18px; }


//----------------------------------------------------------------| PDP Hero!




//----------------------------------------------------------------| PDP Body


// pdp content -------------------------------------------
// image wrappers 2 col layout
.galleryThumbImgWrap {
	width: 48%;
	margin: 15px 1% 0;
}
// ------------------------------------------- pdp content!


// slogan header -------------------------------------------
// make taller and create for visual white space
.pageSlogan h2 { height: 60px; padding: 35px 0 0 0; }

// move sprite to show bigger slogan
.pageSlogan h2 em { width: 418px; background-position: 16px -195px;}

// less padding on the bottom evens out the edits from the top
.pageSlogan h6 { padding: 0 0 18px 0; }
// ------------------------------------------- slogan header!


//----------------------------------------------------------------| PDP Body!




//================================================================================================================================|






