/* ============================================================

650

============================================================ */

// els that turn on at 650
.onSmall {
	display: block;
	visibility: visible;
	opacity: 1;
}

// els that turn on at 650
.offSmall {
	display: none;
	visibility: hidden;
	opacity: 0;
}

/* 
====================================================== Footer
*/

.gFoot {
	@include sizeEl(block, left, 100%, 350px);
}

// mid foot bad=r
.footMid {
	@include sizeEl(block, left, 100%, 115px);
}

// footer link wrapper div>ul>li
.footLinkWrap {
	@include sizeEl(block, none, 95%, 200px);
	margin: 0 auto;
}

// footer link wrap
.footLinkWrap ul {
	@include sizeEl(block, none, 450px, 200px);
	margin: 0 auto;
	position: relative;
}

.footLinkWrap ul:after {
	content: "";
	display: block;
	width: 68px;
	height: 68px;
	position: absolute;
	top: 82px;
	left: 192px;
	overflow: hidden;
	@include spritePos('sprite.png', 0px -49px);
}

// footer links
.footLinkWrap li {
	position: absolute;
	top: 0px;
	left: 0px;
}

// link text styles
.footLinkWrap li a {
	color: $w;
}

// replace this list item with the logo bg
li.footSummit { display: none; }

// link positioning in the footer
li.footWork     { top: 100px; left: 30px; }
li.footServices { top: 100px; left: 101px; }
li.footContact  { top: 100px; left: 293px; }
li.footBlog     { top: 100px; left: 386px; }

// moto image
.footMid address:before {
	content: "";
	display: block;
	width: 355px;
	height: 15px;
	position: absolute;
	top: -20px;
	left: -80px;
	overflow: hidden;
	@include spritePos('sprite.png', -129px -2px)
}

// adress footer
.footMid address, .footTel {
	@include sizeEl(block, none, 200px, auto);
	margin: 0 auto;
	position: relative;
	letter-spacing: .15em;
}

.footMid li a {
	color: $w !important;
}

// hide small s logo
.footBottom::before {
	display: none;
}

.footBottom a.legal {
	@include sizeEl(block, left, 100%, 20px);
	color: $w;
	text-align: center !important;
}

.legalFootWrap {
	@include sizeEl(inline-block, none, auto, 20px);
	margin: 0 auto;
}











/* 
====================================================== Home Page
*/

.featuredProjects li {
	@include sizeEl(block, left, 33.333333333%, 280px);

}

// hide the hover bg
// .projectHoverBg {
// 	opacity: 1;
// 	visibility: visibility;
// }

.projectHoverBg, .proBtnWrap, h1.summitProjectLogo, h5.tpyeOfProject  {
	opacity: 0;
	visibility: none;
}


// display logo and tpye of project
//h1.summitProjectLogo, h5.tpyeOfProject { opacity: 1; visibility: visible; }


// Hover state's
li a:hover .projectDeetsWrap, 
li a:hover .projectHoverBg, 
li a:hover .proShawdow,
li a:hover h1.summitProjectLogo,
li a:hover h5.tpyeOfProject,
li a:hover .proBtnWrap,
{
	opacity: 1;
	visibility: visible;
}

// add more padding onto the hover animation
li a:hover .projectHoverBg { padding: 15px; }

// position all thumb elements
h1.summitProjectLogo {    top: 35px; }  // s logo
h2.clientProjectLogo {    top: 17px; } // client logo
h5.tpyeOfProject     {   top: 140px; } // type of pro
.proBtnWrap          { bottom: 45px; } // btn


// make type smaller 
// type on this site needs to be looked at and coded correctly
h5.tpyeOfProject span {
	font-size: 10px !important;
	letter-spacing: .2em;
}
// tighten up the leading
// this is the + and the last word
.proTypePluls, .proTypeTwo { margin: -4px 0 0 0; }



//-----------------------------------| Projects

// the client logo itself
//h2.clientProjectLogo span { background-size: 700px 480px; } // resize the background logo sprite to full size




// Featured Project Thumbnails |---------------------------------------------


.featuredProject1 > a { background: url(#{$projectDir}#{$project1Folder}#{$thumb}); } // babkchound thumb | dynamic
.featuredProject2 > a { background: url(#{$projectDir}#{$project2Folder}#{$thumb}); } // abkchound thumb | dynamic


.featuredProject1  > a { background: url(#{$projectDir}#{$project1Folder}#{$thumb}) ; }
.featuredProject2  > a { background: url(#{$projectDir}#{$project2Folder}#{$thumb}) ; }
.featuredProject3  > a { background: url(#{$projectDir}#{$project3Folder}#{$thumb}) ; }
.featuredProject4  > a { background: url(#{$projectDir}#{$project4Folder}#{$thumb}) ; }
.featuredProject5  > a { background: url(#{$projectDir}#{$project5Folder}#{$thumb}) ; }
.featuredProject6  > a { background: url(#{$projectDir}#{$project6Folder}#{$thumb}) ; }
.featuredProject7  > a { background: url(#{$projectDir}#{$project7Folder}#{$thumb}) ; }
.featuredProject8  > a { background: url(#{$projectDir}#{$project8Folder}#{$thumb}) ; }
.featuredProject9  > a { background: url(#{$projectDir}#{$project9Folder}#{$thumb}) ; }
.featuredProject10 > a { background: url(#{$projectDir}#{$project10Folder}#{$thumb}); }
.featuredProject11 > a { background: url(#{$projectDir}#{$project11Folder}#{$thumb}); }
.featuredProject12 > a { background: url(#{$projectDir}#{$project12Folder}#{$thumb}); }
.featuredProject13 > a { background: url(#{$projectDir}#{$project13Folder}#{$thumb}); }
.featuredProject14 > a { background: url(#{$projectDir}#{$project14Folder}#{$thumb}); }
.featuredProject15 > a { background: url(#{$projectDir}#{$project15Folder}#{$thumb}); }
.featuredProject16 > a { background: url(#{$projectDir}#{$project16Folder}#{$thumb}); }


/* 
====================================================== Blog Index
*/

// main sidebar wrap
.sbWrap {
	background: url($sidebarNewsBg);
	border-left: solid 1px $gBorder;
}

// blog hero
.blogHero {
	height: 300px;
}

// blog post wrap
.postWrap {
	@include sizeEl(block, left, 65%, auto);
}

// blog side bar
.blogSb {
	@include sizeEl(inline-block, left, 100%, auto);
	position: relative;
}

// news side bar
// .newsSb {
// 	@include sizeEl(block, left, 35%, auto);
// }

// blog side bar
// .blogSb {
// 	@include sizeEl(block, right, 35%, auto);
// 	// creates room at bottom for news stories
// 	position: relative;
// 	// fixes the top margin bread crumbs
// 	margin-top: -20px;
// }


/* 
====================================================== Blog Archive
*/

// news side bar
// .blogArchivePostWrap {
// 	width: 65%;
// }

// // blog side bar
// .blogSb.archiveSb {
// 	position: absolute;
// 	top: 80px;
// 	right: 0px;
// 	height: 100%;
// }
