/* ============================================================

650

============================================================ */






// the actual hover state
li a:hover .projectDeetsWrap, 
li a:hover .projectHoverBg, 
li a:hover .proShawdow  {
	opacity: 1;
	visibility: visible;
}





// els that turn on at 650
.onSmall {
	display: block;
	visibility: visible;
	opacity: 1;
}

// els that turn on at 650
.offSmall {
	display: none;
	visibility: hidden;
	opacity: 0;
}

/* 
====================================================== Footer
*/

.gFoot {
	@include sizeEl(block, left, 100%, 350px);
}

// mid foot bad=r
.footMid {
	@include sizeEl(block, left, 100%, 115px);
}

// footer link wrapper div>ul>li
.footLinkWrap {
	@include sizeEl(block, none, 95%, 200px);
	margin: 0 auto;
}

// footer link wrap
.footLinkWrap ul {
	@include sizeEl(block, none, 450px, 200px);
	margin: 0 auto;
	position: relative;
}

.footLinkWrap ul:after {
	content: "";
	display: block;
	width: 68px;
	height: 68px;
	position: absolute;
	top: 82px;
	left: 192px;
	overflow: hidden;
	@include spritePos('sprite.png', 0px -49px);
}

// footer links
.footLinkWrap li {
	position: absolute;
	top: 0px;
	left: 0px;
}

// link text styles
.footLinkWrap li a {
	color: $w;
}

// replace this list item with the logo bg
li.footSummit { display: none; }

// link positioning in the footer
li.footWork     { top: 100px; left: 30px; }
li.footServices { top: 100px; left: 101px; }
li.footContact  { top: 100px; left: 293px; }
li.footBlog     { top: 100px; left: 386px; }

// moto image
.footMid address:before {
	content: "";
	display: block;
	width: 355px;
	height: 15px;
	position: absolute;
	top: -20px;
	left: -80px;
	overflow: hidden;
	@include spritePos('sprite.png', -129px -2px)
}

// adress footer
.footMid address, .footTel {
	@include sizeEl(block, none, 200px, auto);
	margin: 0 auto;
	position: relative;
	letter-spacing: .15em;
}

.footMid li a {
	color: $w !important;
}

// hide small s logo
.footBottom::before {
	display: none;
}

.footBottom a.legal {
	@include sizeEl(block, left, 100%, 20px);
	color: $w;
	text-align: center !important;
}

.legalFootWrap {
	@include sizeEl(inline-block, none, auto, 20px);
	margin: 0 auto;
}


/* 
====================================================== Home Page
*/

.featuredProjects li {
	@include sizeEl(block, left, 33.333333333%, 280px);

}


/* 
====================================================== Blog Index
*/

// main sidebar wrap
.sbWrap {
	background: url($sidebarNewsBg);
	border-left: solid 1px $gBorder;
}

// blog hero
.blogHero {
	height: 300px;
}

// blog post wrap
.postWrap {
	@include sizeEl(block, left, 65%, auto);
}

// blog side bar
.blogSb {
	@include sizeEl(inline-block, left, 100%, auto);
	position: relative;
}

// news side bar
// .newsSb {
// 	@include sizeEl(block, left, 35%, auto);
// }

// blog side bar
// .blogSb {
// 	@include sizeEl(block, right, 35%, auto);
// 	// creates room at bottom for news stories
// 	position: relative;
// 	// fixes the top margin bread crumbs
// 	margin-top: -20px;
// }


/* 
====================================================== Blog Archive
*/

// news side bar
// .blogArchivePostWrap {
// 	width: 65%;
// }

// // blog side bar
// .blogSb.archiveSb {
// 	position: absolute;
// 	top: 80px;
// 	right: 0px;
// 	height: 100%;
// }
