/* ============================================================

650

============================================================ */

// on / off styles
// things that are only mobile
.offsmall {
	display: none;
	visibility: hidden;
	opacity: 0;
}

// els that turn on at this width
.onSmall {
	display: block;
	visibility: visible;
	opacity: 1;
}


/* 
====================================================== Blog Index
*/

// blog post wrap
.blogIndexPostWrap {
	@include sizeEl(block, left, 65%, auto);
}

// news side bar
.newsSb {
	@include sizeEl(block, left, 35%, auto);
}

// blog side bar
.blogSb {
	@include sizeEl(block, left, 35%, auto);
}