/* ============================================================

755

============================================================ */


.onMed {
	display: block;
	visibility: visible;
	opacity: 1;
}



/* 
====================================================== Home Page
*/

.featuredProjects li {
	@include sizeEl(block, left, 33.333333333%, 350px);

}

// position all thumb elements
h1.summitProjectLogo {    top: 45px; }  // s logo
h2.clientProjectLogo {    top: 45px; } // client logo
h5.tpyeOfProject     {   top: 175px; } // type of pro
.proBtnWrap          { bottom: 45px; } // btn

// make the s logo bigger
h1.summitProjectLogo span { background-position: -78px -49px; }

// size client logos 100%
h2.clientProjectLogo span { background-size: 700px 480px; }

// size up the type font
h5.tpyeOfProject span { font-size: 12px !important; letter-spacing: .25em; }

//last 2 lines | correct leading
.proTypePluls, .proTypeTwo { margin: 5px 0 0 0; }

.proBtnWrap span { font-size: 11px !important; letter-spacing: .3em; padding: 6px 15px;  }





// Featured Project Client Logos |---------------------------------------------

// client logo position
.featuredProject1  h2.clientProjectLogo span { background-position: $p1LogoPosShift ; }  // Logo Project 1
.featuredProject2  h2.clientProjectLogo span { background-position: $p2LogoPosShift ; }  // Logo Project 2
.featuredProject3  h2.clientProjectLogo span { background-position: $p3LogoPosShift  ; } // Logo Project 3
.featuredProject4  h2.clientProjectLogo span { background-position: $p4LogoPosShift  ; } // Logo Project 4
.featuredProject5  h2.clientProjectLogo span { background-position: $p5LogoPosShift  ; } // Logo Project 5
.featuredProject6  h2.clientProjectLogo span { background-position: $p6LogoPosShift  ; } // Logo Project 6
.featuredProject7  h2.clientProjectLogo span { background-position: $p7LogoPosShift  ; } // Logo Project 7
.featuredProject8  h2.clientProjectLogo span { background-position: $p8LogoPosShift  ; } // Logo Project 8
.featuredProject9  h2.clientProjectLogo span { background-position: $p9LogoPosShift  ; } // Logo Project 9
.featuredProject10 h2.clientProjectLogo span { background-position: $p10LogoPosShift ; } // Logo Project 10
.featuredProject11 h2.clientProjectLogo span { background-position: $p11LogoPosShift ; } // Logo Project 11
.featuredProject12 h2.clientProjectLogo span { background-position: $p12LogoPosShift ; } // Logo Project 12
.featuredProject13 h2.clientProjectLogo span { background-position: $p13LogoPosShift ; } // Logo Project 13
.featuredProject14 h2.clientProjectLogo span { background-position: $p14LogoPosShift ; } // Logo Project 14
.featuredProject15 h2.clientProjectLogo span { background-position: $p15LogoPosShift ; } // Logo Project 15
.featuredProject16 h2.clientProjectLogo span { background-position: $p16LogoPosShift ; } // Logo Project 16




//==========================================================================================================| Blog Index |========|


// resize muti post wrap
.mutiPostWrap { width: 45%; }

// featured post image
.postFeaturedImgWrap { height: 180px; }

// resize sidebar wrapper to include news sidebar
.sbWrap { width: 55%; }

// dark side bar
.blogSb.darkSb { float: right; width: 45%;}


//================================================================================================================================|




//=========================================================================================================| Single Post |========|


// keep padding for single post
.singlePostWrap { padding:15px; }

// mian single post image
.singlePostWrap .postFeaturedImgWrap { height: 200px; }

.singleSidebarWrap .blogSb { width: 100%; }


//================================================================================================================================|




/* 
====================================================== Blog Archive
*/

.blogArchivePostWrap {
	width: 75%;
}


// author and date bar
.postDate, .postDateSquare {
	@include sizeEl(block, left, 100%, 25px);
	border-bottom: solid 1px $gBorder;
	position: relative;
	margin: 0 0 10px 0;
}

// date posted
.postDate time, .postDateSquare time {
	position: absolute;
	font-size: .6em;
	letter-spacing: .05em;
	top: 6px;
	left: 0px;
}






//==========================================================================================================| PDP Page |==========|


// pdp header sizes
.pdpHero, .pdpHeroContentWrap { min-height: 700px !important; max-height: 1024px;}


//----------------------------------------------------------------| PDP Body

// resize so the grid can be 2 by 2
div.pdpImgPrev { height: 350px; }

// elementwrap
.pdpProjectEls { height: 500px; }

// elemtent center 
.pdpProjectEls > .pdpElsCenterWrap { width: 450px; }


// brand img / screen shot ---------------------------------
// the custom brand image wrap
.pdpElsCenterWrap .pdpBrandImg  {
	display: block;
	height: 400px;
	width: 320px;
	background-size: 300px 406px;
	left: -170px;
}

// Screen Shopt
.pdpElsCenterWrap .pdpScreenShot {
	background-size: 420px 345px;
	height: 500px;
	width: 450px;
}
// --------------------------------- brand img / screen shot!


//----------------------------------------------------------------| PDP Body!





.notFoundHeader { height: 300px; }


//================================================================================================================================|



.stickyArticleNav .centerStickyNav {
	position: fixed;
}


.stickyShow {
	display: block;
}

.stickyHide {
	display: block;
}







// both cols
.notFoundPostWrap, .notFoundSideWrap { width: 50%; }

.notFoundMessageWrap { margin: 0 0 15px 0; }

.mainOffice { display: none; margin: 0; }

.notFoundSignUpWrap { border: none; }

.notFoundContactWrap {
	background-color: $w;
}







.resultsWrapInner .paginationWrap a.pageArrow { 
	width: 110px;
	height: 110px;
	text-indent: 0px;
}







.servicesCapRow section {
	width: 33.3333333333%;
	// padding: 0 15px 15px 0;
}


.contactDropTextWrap {
	float: left;
	width: 45%;	
}

.contactFormWrap {
	float: right;
	width: 50%;
}

