/* ============================================================

900

============================================================ */







//=========================================================================================================| Single Post |========|

// single
.postWrap.singlePostWrap { width: 56%; }

// related sb
.sbWrap.sbWrapLeft  { float:  left;  padding: 15px 0 0 15px; }

.sbWrap.sbWrapLeft, .sbWrap.sbWrapRight { width: 22%;  }

.singlePostWrap .postFeaturedImgWrap { height: 250px; }

.stickyArticleNav .centerStickyNav { position: relative; }

//================================================================================================================================|