/* ============================================================

960

============================================================ */

.onFull {
	display: block;
	visibility: visible;
	opacity: 1;
}

/* 
====================================================== Home Page
*/

.featuredProjects li {
	@include sizeEl(block, left, 25%, 400px);

}

// position all thumb elements
h1.summitProjectLogo {    top: 55px; }  // s logo
h2.clientProjectLogo {    top: 70px; } // client logo
h5.tpyeOfProject     {   top: 205px; } // type of pro
.proBtnWrap          { bottom: 55px; } // btn

// size up the type font
h5.tpyeOfProject span { font-size: 13px !important; letter-spacing: 0.35em; }

//last 2 lines | correct leading
.proTypePluls, .proTypeTwo { margin: 3px 0 0 0; }


// Hover state's
// .projectDeetsWrap, 
// .projectHoverBg, 
// .proShawdow,
// h1.summitProjectLogo,
// h5.tpyeOfProject,
// .proBtnWrap,
// {
// 	opacity: 1;
// 	visibility: visible;
// }

// Show that last project 
.lastFeaturedProject {
	display: Block !important;
}

.wrap {
	float: none;
	margin: 0 auto;
}


//======================================================================================================| Blog Index |============|


// blog hero
.blogHero { height: 450px; }

// blog post wrap
.mutiPostWrap { @include sizeEl(block, left, 50%, auto); }

// featured post image
.postFeaturedImgWrap { height: 300px; }

// side bar wrap
.sbWrap { width: 50%; }

// size up the news article font
.newsArticlePrevWrap p {  font-size: 12px; }


//================================================================================================================================|





//==========================================================================================================| PDP Page |==========|



// gallery thumbnail wrap
.galleryThumbImgWrap { height: 350px; }

//----------------------------------------------------------------| PDP Hero


// resize header
.pdpHero, .pdpHeroContentWrap { max-height: 800px; min-height: 768px; }


// brand img / screen shot ---------------------------------
// update size | custom brand image wrap
.pdpBrandImg { width: 330px; height: 440px; }

// update size | Screen Shot Wrap
.pdpElsCenterWrap .pdpScreenShot {
	width: 471px;
	height: 500px;
	background-size: 471px 386px;
	right: -38px;
}
// --------------------------------- brand img / screen shot!


//----------------------------------------------------------------| PDP Hero!



//================================================================================================================================|











//=========================================================================================================| Single Post |========|

.postWrap.singlePostWrap { width: 56%; padding: 15px; }

// related sb & main sb
.sbWrap.sbWrapLeft, .sbWrap.sbWrapRight { width: 22%; }

.singlePostWrap .postFeaturedImgWrap { height: 300px; }

.sinlgePostPrev a.author { left: 85px;}

.sinlgePostPrev ul {
	@include sizeEl(block, none, 250px, 100%); 
	right: 10px;
}

.sinlgePostPrev ul li {
	@include sizeEl(block, right, auto, auto); 
}

.postDateWrap a {
	position: relative;
	padding: 0 0 0 10px;
}

.newsSbDateWrap a { position: absolute; }

//================================================================================================================================|






