/* ============================================================

960

============================================================ */



/* 
====================================================== Home Page
*/

.featuredProjects li {
	@include sizeEl(block, left, 25%, 400px);

}

// position all thumb elements
h1.summitProjectLogo {    top: 55px; }  // s logo
h2.clientProjectLogo {    top: 70px; } // client logo
h5.tpyeOfProject     {   top: 205px; } // type of pro
.proBtnWrap          { bottom: 55px; } // btn

// size up the type font
h5.tpyeOfProject span { font-size: 13px !important; letter-spacing: 0.35em; }

//last 2 lines | correct leading
.proTypePluls, .proTypeTwo { margin: 3px 0 0 0; }


// Hover state's
// .projectDeetsWrap, 
// .projectHoverBg, 
// .proShawdow,
// h1.summitProjectLogo,
// h5.tpyeOfProject,
// .proBtnWrap,
// {
// 	opacity: 1;
// 	visibility: visible;
// }

// Show that last project 
.lastFeaturedProject {
	display: Block !important;
}

/* 
====================================================== Blog Index
*/

.wrap {
	float: none;
	margin: 0 auto;
}

// blog hero
.blogHero {
	height: 450px;
}

.crumbs {
	overflow: visible;
	padding: 11px 4px 4px 18px;
}

// blog post wrap
.postWrap {
	@include sizeEl(block, left, 50%, auto);
	padding: 10px 20px 20px 20px;
}

.postImgWrap {
	height: 275px;
}


.sbWrap {
	width: 50%;
}

.innerNewsSbWrap {
	position: normal !important;
	top: 10px;
	left: 10px;
	width: 100%;
}

// #images {
// 	position: fixed;
// 	top: 510px;
// 	width: 100%;
// 	z-index: 200;
// }