/* ============================================================

Buttons

============================================================ */

// default button styles
.btn {
	display: inline-block;
	*display: inline;

	padding: 10px 15px;
	margin: 0 15px 0 0;
	cursor: pointer;

	font-family: 'Lato', sans-serif; 
	font-weight: 200;
	font-size: 0.8em;
	letter-spacing: .05em;
	color: $w !important;
}

// green btn
.btnG {
	background-color: $bGreen;
}

// black btn
.btnB {
	background-color: $bBlack;
}

// sidebar buttons
aside .btn {
	font-size: .7em;
	margin: 0 8px 0 0;
	padding: 7px 11px 7px 11px;
}

.btnW {
	background-color: $w;
}