/* ============================================================

elements

============================================================ */

/* 
====================================================== Site Wrapper
*/

.wrap {
	@include sizeEl(block, left, 100%, auto);
	max-width: 1224px;

	position: relative;
	overflow: hidden;
}

// padding inside the wrap
.innerWrap {
	@include sizeEl(block, left, 100%, auto);
	padding: 0;
}





/* 
========================================================================================================================== Header
*/

// global header
.gHead {
	@include sizeEl(block, left, 100%, 50px);
	position: relative;
	background-color: $headBg;
	z-index: 1;
}


// main branding
.gLogo {
	@include sizeEl(block, none, 85px, 45px);
	@include spritePos('sprite.png', 0px 16px);
	margin: 0 auto;
	overflow: hidden;
	position: absolute;
	position: relative;
	text-indent: -99999px;
}

.gLogo a {
	@include sizeEl(block, none, 85px, 50px);
	@include spritePos('sprite.png', 0px 16px);
	position: absolute;
	z-index: 999999;
}


// search icon header
.gHead .fa-search {
	position: absolute;
	top: 17px;
	right: 15px;
	color: $w;
}

// menu icon
.menuIcon {
	position: absolute;
	width: 20px;
	height: 16px;
	overflow: hidden;
	text-indent: -99999px;
	top: 18px;
	left: 15px;
	@include spritePos('sprite.png', -96px 0px);
	//background-color: $bA;
}

#menuWrap:target {
  width: 20%; 
}

.menuWrap {
	//@include disNone();
	// transition: width 0.3s ease;
}

// .menuWrap.showMenu {
// 	@include disBlock();
// }

.gNav li a {
	color: #fff !important;
}





.menuWrap.showMenu .navInnerWrap { 
-webkit-animation: mMenuSlide .65s forwards;
   -moz-animation: mMenuSlide .65s forwards;
    -ms-animation: mMenuSlide .65s forwards;
     -o-animation: mMenuSlide .65s forwards;
        animation: mMenuSlide .65s forwards;
}


.navInnerWrap {
	@include sizeEl(inherit, none, 75%, 200%);
	position: fixed; 
	top: 0px;
	left: -100%;
	background-color: $headBg;
	border-right: solid 1px #1f1f1f;
  	box-shadow: 11px 0px 90px 0px rgba( 2, 2, 2, .9);
	z-index: 1;
	padding-left: 20px;
}







@-webkit-keyframes mMenuSlide {
   0%  { -webkit-transform: translateX(-10%);    }
   80% { -webkit-transform: translateX(128%);  }
   100% { -webkit-transform: translateX(125%);  }
}

// @-moz-keyframes menuIconBack {
//    from { background-position:    0px; }
//      to { background-position: -245px; }
// }

// @-ms-keyframes menuIconBack {
//    from { background-position:    0px; }
//      to { background-position: -245px; }
// }

// @-o-keyframes menuIconBack {
//    from { background-position:    0px; }
//      to { background-position: -245px; }
// }

// @keyframes menuIconBack {
//    from { background-position:    0px; }
//      to { background-position: -245px; }
// }







.mobileMenuHead {
	@include sizeEl(block, left, 100%, 200px);
	overflow: hidden;
	@include cover();
	@include backgroundImg("mMenuHeader.jpg", no-repeat, center);
}


// mobile menu header
.mobileMenuHead h1 {
	@include sizeEl(block, none, 50px, 100px);
	overflow: hidden;
	text-indent: -99999px;
	margin: 0 auto;
	position: relative;
}

.mobileMenuHead h1 a {
	@include sizeEl(block, none, 50px, 50px);
	position: absolute;
	bottom: 15px;
	@include spritePos('sprite.png', -130px -50px);
}

.mobileMenuHead h2 {
	@include sizeEl(block, none, 155px, 55px);
	overflow: hidden;
	text-indent: -99999px;
	margin: 0 auto;
	@include spritePos('sprite.png', 0px -246px);
}

.menuWrap li {
	@include sizeEl(block, left, 100%, auto);
	border-bottom: solid 1px #1f1f1f;
	text-transform: uppercase;
	font-size: .8em;
	letter-spacing: .2em;
	color: $w;
}

.menuWrap li:last-child {
	display: none;
	border-bottom: none;
	padding: 15px;
}

.menuWrap li:hover {
	background-color: #1f1f1f;
}

.menuWrap li:last-child span {
	@include sizeEl(block, left, 100%, auto);
}

.menuWrap li a {
	padding: 15px;
}

.menuWrap li a.btnW {
	margin: 10px 0 0 0;
	color: #000 !important;
	font-weight: 800;
	padding: 5px 8px;
}

.menuActiveOverlay {
	position: fixed;
	width: 100%;
	height: 200%;
	top: 0px;
	left: 0px;
	background-color: $b;
	z-index: 0;
	opacity: .85;
}


@media only screen and (min-height: 420px) {
	.menuWrap li:last-child {
		display: block;
	}
}

/* 
========================================================================================================================== Crumbs
*/

// bread crumbs
// .crumbs {
// 	@include sizeEl(block, left, auto, 20px);
// 	overflow: hidden;
// 	padding: 6px 4px 4px 10px;
// }

// // bread crumb links
// .crumbs a {
// 	display: inline-block;
// 	float: left;
// 	font-size: .5em;
// 	letter-spacing: .08em;
// 	color: $crumbs;
// 	padding: 0 0 0 2px;
// }



/* 
========================================================================================================================== Hero
*/

.fullScreenHero {
	@include sizeEl(block, left, 100%, 100%);
	@include cover();
	position: fixed;
	z-index: -1;
}



/* 
====================================================== Footer
*/

.gFoot {
	@include sizeEl(block, left, 100%, 150px);
	position: relative;
	overflow: hidden;
	background-color: $headBg;
}

// mid foot bad=r
.footMid {
	@include sizeEl(block, left, 100%, 115px);
}

// mid slogan
.footMid h2 {
	@include sizeEl(block, left, 100%, 20px);
	margin: 35px 0 0 0;
	overflow: hidden;
}

// mid slogan sprite centered
.footMid h2 span {
	@include sizeEl(block, none, 285px, 20px);
	@include spritePos('sprite.png', 0px -26px);
	margin: 0 auto;
	overflow: hidden;
	text-indent: -99999px;
}

// address link / phone number link
.footMid a {
	@include sizeEl(block, left, 100%, auto);
	text-align: center;
	font-size: .75em;
	letter-spacing: .15em;
	text-transform: uppercase;
	color: $footerText;
	padding: 5px 0 0 0;
}

// legal footer wrap
.footBottom {
	@include sizeEl(block, left, 100%, 25px);
	position: absolute;
	bottom: 0px;
	left: 0px;
	border-top: solid 1px $footerBorder;
	padding: 8px 10px;
}

// mid floating s logo Wrap
.footCenterLogo {
	// content: "";
	position: absolute;
	top: -18px;
	left: 0px;
	width: 100%;
	height: 33px;
	z-index: 0;
}

// actual dimond logo 
// extra mark up is created to center shit
.footCenterLogo span {
	@include sizeEl(block, none, 45px, 45px);
	@include spritePos('sprite.png', -138px -50px);
	// override floats
	float: none !important;
	margin: 0 auto;
	background-color: $headBg;
	overflow: hidden;
	text-indent: -9999999px;
	border-left: solid 5px $headBg;
	border-right: solid 5px $headBg;
}


// legal text / copyright
.footBottom span, .footBottom a {
	font-size: .5em;
	letter-spacing: .1em;
	text-transform: uppercase;
	color: $footerText;
}

.footBottom span {
	float: left;
}

.footBottom a {
	float: right;
}

// this is the news letter sign up in the footer
.footNewsSignUp {
	position: absolute;
	width: 205px !important;
	top: 10px;
	right: 0px;
}

/* 
==============================================================
*/

.center {
	display: block;
	max-width: 1200px;
	margin: 0 auto;
}







//===================================================================================================| Contact Droper |==========|

.contactDropWrap {
	@include sizeEl(block, left, 100%, 450px);
	padding: 15px;
	// position: fixed;
	background-color:$dropHeadContactBg;
	color: $w;
	z-index: 99999;
}

.contactDropWrap h3, .contactDropWrap h4 {
	color: $w;
}

.contactDropCenterWrap {
	max-width: 800px;
	padding: 20px 0 0 0;
	margin: 0 auto;
}

.contactDropTextWrap {
	@include sizeEl(block, left, 100%, auto);
	position: relative;
}

.contactFormWrap {
	@include sizeEl(block, left, 100%, auto);
	position: relative;
}

.contactFormWrap h4 {
	padding: 0 0 10px 0;
}

.contactFormWrap input, .contactFormWrap textarea {
	margin: 0 0 10px 0;
}

.contactLocationWrap {
	@include sizeEl(block, left, 100%, auto);
	padding: 20px 0 0 0;
	position: relative;
}


// social icons
.contactSocialWrap {
	@include sizeEl(block, left, 100%, 100%);
}

// social icon wraps
.contactSocialWrap li {
	@include sizeEl(block, left, 35px, 35px);
	background-color: $w;
	margin: 0 0 0 5px;
	overflow: hidden;
	text-indent: -999999px;
}

// social icon wraps
.contactSocialWrap li:first-child {
	margin: 0;
}

.contactPrivacyLink {
	font-size: .6em;
	letter-spacing: .05em;
	color: $sidebarCatColor;
}

.contactPrivacyLink span {
	color: $bGreen;
	font-style: italic;
}

.contactDropCloseBtn {
	position: absolute;
	top: 0px;
	left: 0px;
}

.contactLocationList {
	padding: 10px 0;
}

.contactLocationList li {
	font-size: .85em;
	line-height: 1.4em;
}

//===============================================================================================================================|




// modal gen styles
.modalPop {
	@include sizeEl(block, none, 100%, 100%);
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 999999;
	background-color: rgba(0, 0, 0, .85);
	color: $w;
	padding: 15px;
}

// head wrap and the modal content wrap
.modalHead, .modalContent { @include sizeEl(block, left, 100%, 100%); }


//----------------------------------------------------------------------------- modal head
.modalHead {
	overflow: hidden;
	height: 50px;
	padding: 20px 20px 20px 15px;
	position: relative;
}

.modalHead h2 {
	color: $w;
	font-size: 12px;
	letter-spacing: .2em;
}

.modalCloseBtn {
	@include sizeEl(block, none, 50px, 50px);
	position: absolute;
	text-indent: -99999px;
	cursor: pointer;
	top: 0px;
	right: 0px;
	@include simpleTransAni(all, 0.2s, linear);
}

.modalCloseBtn:before, .modalCloseBtn:after {
	content: "";
	@include sizeEl(block, none, 1px, 16px);
	background-color: $w;
	position: absolute;
	top: 18px;
	right: 24px;
	@include simpleTransAni(all, 0.2s, linear);
}

 .modalCloseBtn:after {
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-o-transform: rotate(45deg); 
	transform: rotate(45deg);
}

 .modalCloseBtn:before {
	-ms-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	-o-transform: rotate(-45deg); 
	transform: rotate(-45deg);
}


 .modalCloseBtn:hover:after {
 	-ms-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	-o-transform: rotate(-45deg); 
	transform: rotate(-45deg);
 }

  .modalCloseBtn:hover:before {
 	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-o-transform: rotate(45deg); 
	transform: rotate(45deg);
 }



// .modalCloseBtn:after {
// 	width: 0;
// 	height: 0;
// 	border-left: 50px solid transparent;
// 	border-right: 50px solid transparent;
// 	border-top: 100px solid red;
// 	position: absolute;
// 	content: "";
// 	top: 0px;
// 	left: 0px;
// }

//-----------------------------------------------------------------------------



//----------------------------------------------------------------------------- modal conent

// these are used for the padding so the bgs create a full bleed
.modalContent {
	padding: 15px;
}

.modalContent form {
	display: block;
	position: relative;
	background-color: #bada55;
}

.modalContent p {
	padding-bottom: 15px;
}

.modalContent .greenSubmit {
	position: absolute;
	top: -2px;
	right: -2px;
}

//-----------------------------------------------------------------------------

// this is the bg for the modal content ! not the trans BG
.modalPop section {
	@include sizeEl(block, left, 100%, auto);
	background-color: $modalHeadBg;
	@include simpleTransAni(background-color, 0.2s, linear);
}

.modalPop section:hover{
	background-color: $bGreen;
}

.modalCloseBtn:hover {
	background-color: $closeBtnBgHover;
}

// wraps the actual content of the modal
// this is after the header
.modalContent {
	background-color: $modalContentBg; 
}



// .modalLegalTxt {
// 	@include sizeEl(block, left, 100%, auto);
// }

.modalLegalTxt a {
	padding: 10px 0 0 0;
}







.modalShareList {
	@include sizeEl(block, left, 100%, auto);
}

.shareSocialIcon {
	@include sizeEl(block, left, 48%, auto);
	margin: 1%;
	padding:8px 13px;
	background-color: red;
}

.shareSocialIcon i, 
.modalShareEmail i {
	@include sizeEl(block, left, 50px, 100%);
	max-width: 40px;
	text-align: left;
	//-background-color: red;
}

.shareSocialIcon i {
	padding: 4px 0 0 0;
	width: 20%;
}

.shareSocialIcon span {
	padding: 0 0 0 5px;
}

// icon bg colors
.modalShareFace    { background-color: $facebookBg   ; }
.modalShareTwitter { background-color: $twitterBg    ; }
.modalSharePin     { background-color: $pinterestBg  ; }
.modalSharePlus    { background-color: $googlePlusBg ; }


.modalShareEmail {
	@include sizeEl(block, left, 100%, auto);
	background-color: $bGreen;
	padding: 18px 20px;
}

.modalShareEmail i { width: 12%; }







