/* ============================================================

elements

============================================================ */


/* 
====================================================== Header
*/

// global header
.gHead {
	@include sizeEl(block, left, 100%, 50px);
	position: relative;
	background-color: $headBg;
}

// main branding
.gLogo {
	@include sizeEl(block, none, 85px, 50px);
	@include spritePos('sprite.png', 0px 16px);
	margin: 0 auto;
	overflow: hidden;
	text-indent: -99999px;
}


// search icon header
.gHead .fa-search {
	position: absolute;
	top: 17px;
	right: 15px;
	color: $w;
}

// menu icon
.menuIcon {
	position: absolute;
	width: 20px;
	height: 16px;
	overflow: hidden;
	text-indent: -99999px;
	top: 18px;
	left: 15px;
	@include spritePos('sprite.png', -305px 0px);
	//background-color: $bA;
}

// bread crumbs
.crumbs {
	@include sizeEl(block, left, 100%, 20px);
	overflow: hidden;
	padding: 6px 4px 4px 4px;
	background-color: $w;
}

// bread crumb links
.crumbs a {
	display: inline-block;
	float: left;
	font-size: .5em;
	letter-spacing: .08em;
	color: $crumbs;
	padding: 0 0 0 2px;
}


/* 
====================================================== Footer
*/

.gFoot {
	@include sizeEl(block, left, 100%, 150px);
	position: relative;
	overflow: hidden;
	background-color: $headBg;
}

// mid foot bad=r
.footMid {
	@include sizeEl(block, left, 100%, 115px);
}

// mid slogan
.footMid h2 {
	@include sizeEl(block, left, 100%, 20px);
	margin: 35px 0 0 0;
	overflow: hidden;
}

// mid slogan sprite centered
.footMid h2 span {
	@include sizeEl(block, none, 285px, 20px);
	@include spritePos('sprite.png', 0px -65px);
	margin: 0 auto;
	overflow: hidden;
	text-indent: -99999px;
}

// address link / phone number link
.footMid a {
	@include sizeEl(block, left, 100%, auto);
	text-align: center;
	font-size: .75em;
	letter-spacing: .15em;
	text-transform: uppercase;
	color: $footerText;
	padding: 5px 0 0 0;
}

// legal footer wrap
.footBottom {
	@include sizeEl(block, left, 100%, 25px);
	position: absolute;
	bottom: 0px;
	left: 0px;
	border-top: solid 1px $footerBorder;
	padding: 8px 10px;
}

// mid floating s logo
.footBottom::before {
	content: "";
	position: absolute;
	top: -17px;
	left: 0px;
	width: 100%;
	height: 33px;
	background-color: $bA;
	z-index: 0;
	background: url($diamondLogoFoot) no-repeat top center;

}

// legal text / copyright
.footBottom span, .footBottom a {
	font-size: .5em;
	letter-spacing: .1em;
	text-transform: uppercase;
	color: $footerText;
}

.footBottom span {
	float: left;
}

.footBottom a {
	float: right;
}


/* 
==============================================================
*/