/* ============================================================

page

============================================================ */




//==========================================================================================================| Helpers |==========|



//------------------------------------------- display widths
.onLittle, //---------------------------| 550    
.onSmall,  //---------------------------| 650  
.onMed,    //---------------------------| 755
.onFull    //---------------------------| 960
{ 
	display: none; 
	visibility: hidden; 
	opacity: 0;
}
//------------------------------------------- display widths!

// div that centers btns
.centerBtnWrap { text-align: center; }

// touts with shawdow at the bottom
.toutShowdow {
	@include simpleTransAni(all, .2s, ease-in-out);
	box-shadow: 0px 1px 0px 0px rgba( 189, 185, 185, .4 );
}

// on hover remove shawdow at the bottom
.toutShowdow:hover { box-shadow: none; }

// hero header | gen style
.hero { @include sizeEl(block, left, 100%, 250px); background-color: $b;}


//------------------------------------------- Border Classes
.border   { border: solid 1px $gBorder; }
.borderL  { border-left: solid 1px $gBorder; }
.borderR  { border-right: solid 1px $gBorder; }
.borderB  { border-bottom: solid 1px $gBorder; }
.borderT  { border-top: solid 1px $gBorder; }
.borderBt { border-bottom: solid 1px $gBorder; border-top: solid 1px $gBorder; }
.borderFull { border: solid 1px $gBorder; }
//------------------------------------------- Border Classes!

.wBg { background-color: $w; }


// boilerplate for hiding things
.hidden {   
  position: absolute; 
  overflow: hidden; 
  clip: rect(0 0 0 0); 
  height: 1px; width: 1px; 
  margin: -1px; padding: 0; border: 0; 
}


//===============================================================================================================================|





//========================================================================================================| Home Page |==========|



//----------------------------------------------------------------| Index Hero


// index image | bg of the whole home page and have things fade on scroll down
.fullPageHeroBg {
	@include sizeEl(block, left, 100%, 100%);
	@include marquesImg('fpoHome.jpg', no-repeat, top center);
	@include cover();

	position: fixed;
	z-index: -1;
}

// fading div overlay | comes in on scrool
.fullPageHeroBg > div {
	@include sizeEl(block, left, 100%, 100%);
	@include simpleTransAni(all, 0.7s, ease);
	opacity: 0;
	background: $b;
}

// ading in div active class
.fullPageHeroBg > div.transOverlay {
	visibility: visible;
	opacity: .86;
}

// actual marquee space
.indexHero {
	@include sizeEl(block, left, 100%, 100%);
	// corrects the top header space because of the float
	margin: -50px 0 0 0;
	position: relative;
}


//----------------------------------------------------------------| Hero







//----------------------------------------------------------------| Header Slogan

// wraps h1 slogan for centering
.brandingWrap {
	@include sizeEl(block, left, 100%, 51px);
	position: absolute;
	top: 50%;
	text-align: center;
}

// slogan that animates via sprite
.brandingWrap h1 {
	@include sizeEl(block, none, 975px, 51px);
	@include spiteImg('brandSlogan.png', no-repeat, top center);
	margin: 0 auto;
	overflow: hidden;
	text-indent: -99999px;
}

//----------------------------------------------------------------| Header Slogan



//----------------------------------------------------------------| Project Wrappers

// Projects Wrapper
.projectsWrap {
	@include sizeEl(block, left, 100%, 100%);
	padding: 0 15px;
}

// ul of all the featured project
.featuredProjects {
	@include sizeEl(inline-block, left, 100%, auto);
	background-color: $w;
	-webkit-box-shadow: 0 0 68px 2px rgba(0,0,0,.3);
	-moz-box-shadow: 0 0 68px 2px rgba(0,0,0,.3);
	box-shadow: 0 0 68px 2px rgba(0,0,0,.3);
}

// all project items
.featuredProjects li {
	@include sizeEl(block, left, 100%, 100px);
	@include cover();
	overflow: hidden;
}

// project link wrap
.featuredProjects li > a {
	@include sizeEl(block, left, 100%, 100%);
	background-position: top right;
	position: relative;
}



//----------------------------------------------------------------| Project Wrappers



//-----------------------------------| Project Hover Backgrounds

// transision syles
.projectDeetsWrap, .projectHoverBg, h1.summitProjectLogo, h2.clientProjectLogo, h5.tpyeOfProject, .proBtnWrap {
	@include simpleTransAni(all, .4s, ease-in-out);
}


// div that holds all the hover content
.projectDeetsWrap {
	@include sizeEl(inherit, left, 100%, 100%);

	//@include backgroundImg('proHoverBase.png', repeat, top center);

	-webkit-box-shadow: inset 0 0 43px rgba(1,1,1,.2);
	-moz-box-shadow:inset 0 0 43px rgba(1,1,1,.2);
	box-shadow: inset 0 0 43px rgba(1,1,1,.2);
}


// inner project wrap | this wraps the over effects 
// these are backgrounds only
// creates animation speration between sizing elements and non sizing elemsn
.proInnerWrap {
	width: 100%;
	height: 100%;
	position: relative;
}

// background that appears on hover
.projectHoverBg {
	@include backgroundImg('proHoverBase.png', repeat, top center);
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.4);
	-webkit-box-shadow: inset 0 0 43px rgba(1,1,1,.4);
	-moz-box-shadow:inset 0 0 43px rgba(1,1,1,.4);
	box-shadow: inset 0 0 43px rgba(1,1,1,.4);
	position: relative;
	overflow: hidden;
}



// adds noise to the backgrouns
.projectHoverBg:before {
	position: absolute !important;
	top: 0px;
	left: 0px;
	@include afterImg(100%, 100%, 'noiseHover.png',repeat, 0px 0px);
}

// these are the diagonial shawdows
// general styles
.proShawdow {
	@include sizeEl(block, none, 135px, 130px);
	@include spritePos('sprite.png', -192px -50px);
	position: absolute;
	top: 0px;
	@include simpleTransAni(all, 1.5s, ease-in-out);
}

// right shawsow
.proShawdow.proRightShawdowBg {
	background-position: -344px -50px;
	right: 0px;
}









// hover project animations
// h1.summitProjectLogo, h2.clientProjectLogo, h5.tpyeOfProject, span.projectBtn {
// 	position: absolute; // position absolute for layout
// 	top: 0px;
// 	left: 0px;
// }


// poject thumb elemets | s logo, client logo, type of project, and btn


// these elements have parent wrappers to aviod trying to center the el with absolute pos in % <- this is a bitch

// // logo wrap | summit s logo wrap
// h1.summitProjectLogo {
// 	@include sizeEl(block, none, 100%, 50px);
// 	top: 50px;
// }

// // the logo itself
// h1.summitProjectLogo span {
// 	@include spritePos('sprite.png', -78px -49px);
// 	@include sizeEl(block, none, 50px, 50px);
// 	overflow: hidden;
// 	text-indent: -99999px;
// 	margin: 0 auto;
// }
// 
// 
// could have wrote this is the last command but it is too specific and will overwite my show classes
// .tpyeOfProject, .projectBtn {
// 	@include disBlock(); // hide everything
// 	position: absolute; // position absolute for layout
// }




/*-----------------------------------------------------------------------------

	.summitProjectLogo ---> Diamond Logo
	_________________________________________________________________________
	
	.clientProjectLogo ---> Client Name / Logo
	_________________________________________________________________________
	
	.tpyeOfProject     ---> Text about the project (ecom, design, site ect.)
	_________________________________________________________________________
	
	.projectBtn        ---> View Project Button

-----------------------------------------------------------------------------*/

//-----------------------------------| Gen Styles for project thumb elements

// color the text white
// using the element for overiting base styles (h1.summitProjectLogo)
h1.summitProjectLogo, h2.clientProjectLogo, h5.tpyeOfProject{
	position: absolute; // position absolute for layout
	left: 0;
	color: $w;
}

// could have wrote this is the last command but it is too specific and will overwite my show classes
.summitProjectLogo, .tpyeOfProject, .projectBtn {
	//@include disNone(); // hide everything
	position: absolute; // position absolute for layout
	font-family: 'Lato', sans-serif, Arial, serif; font-weight: 400;
	
	visibility: hidden;
	opacity: 0;
}



//-----------------------------------| Summit logo

h1.summitProjectLogo {
	@include sizeEl(block, none, 100%, 50px);
}

// the logo itself
h1.summitProjectLogo span {
	@include spritePos('sprite.png', -130px -49px);
	@include sizeEl(block, none, 50px, 50px);
	overflow: hidden;
	text-indent: -99999px;
	margin: 0 auto;
}



//-----------------------------------| Client Logo

// show the client project
.clientProjectLogo {
	@include disBlock();
	@include sizeEl(block, left, 100%, 100%);
	padding: 41px 20px 20px 15px;
	font-size: 1.3em;
}


//-----------------------------------| Type of project


// text desribing what type of project
h5.tpyeOfProject {
	width: 100%;
	text-align: center;

	//text-shadow: -2px 1px 8px rgba(2,2,2,.45);
	
	font-weight: 100 !important;

	color: $w;
	//color: transparent;
   	//text-shadow: 0 0 5px rgba(255,255,255, 1);


	font-family: 'Lato', sans-serif, Arial, serif; font-weight: 400; 
}

// type hover state | Focus in
li a:hover h5.tpyeOfProject {
	color: $w;
	//text-shadow: 0 0 0 rgba(255,255,255,0);
}





// all lines in the type 
h5.tpyeOfProject span {
	@include sizeEl(block, left, 100%, 100%);

	//letter-spacing: .2em;

	font-size: .9em;    // ------------------------------------------------------------------- Watch this on mobile / tab and other browsers

	padding: 0 0 6px 0;

	padding: 0 0 0 0;

	font-weight: 100 !important; 
}

// two bottom spans to fix ledding
//.proTypePluls, .proTypeTwo { margin: -3px 0 0 0;}

//-----------------------------------| Project Button



// wraps the btn to fix responsiveness with woud doing absolute pos
.proBtnWrap {
	@include sizeEl(block, none, 100%, auto);
	position: absolute;
	bottom: 45px;
	left: 0px;
	text-align: center;
}

// button itself
span.projectBtn {
	display: inline-block;
	position: relative;
	letter-spacing: .4em;
	text-transform: uppercase;

	text-align: center;
	font-weight: 100 !important;
	font-size: .7em;

	border: solid 1px $w;
	padding: 3px 6px;
	color: $w;
}


//=================================================================================================================================|





//==========================================================================================================| PDP Page |==========|




//----------------------------------------------------------------| PDP Hero


// Hero styles ----------------------------------------------- 
// pdp project hero
.pdpHero {
	// removes the fixed posistioning
	position: absolute;
	background-image: url(../img/marquee/pdpHeroBg.jpg);
	max-height: 600px;
}

// wraps the content in the pdp header
.pdpHeroContentWrap {
	@include sizeEl(block, none, 100%, 100%);
	position: relative;
	max-height: 600px;
	min-height: 500px;
}

// wraps everything in the header
.pdpHeroInnerWrap {
	@include sizeEl(block, none, 100%, 100%);
	max-width: 1200px;
	margin: 0 auto;
	position: relative;
}
//----------------------------------------------- Hero styles!


// hero copy -----------------------------------------------
.pdpHeadText {
	@include sizeEl(block, none, 100%, 50%);
	position: absolute;
	padding: 0px 20px;
	text-align: center;
}

// used to wrap text the the child can pos absolute
.pdpHeadTextInner {
	@include sizeEl(block, none, 100%, 100%);
	position: relative;
}

// set a fluid top pos that changes based on screen size
.pdpTextWrap {
	@include sizeEl(block, none, 100%, 100%);
	position: absolute;
	top: 50%;
}

// override gen text styles
.pdpTextWrap h2 { font-size: 1.3em; }
.pdpTextWrap h2, .pdpTextWrap p { text-align: center; color: $w; }
//----------------------------------------------- hero copy!


// pdp element wrappers ------------------------------------
// wraper for the brand img and the site screen shot img
.pdpEls {
	@include sizeEl(block, left, 100%, 250px);
	position: absolute;
	bottom: 0px;
	z-index: -1;
}

// 100 % of browser and sticks to the bottom of the header
.pdpProjectEls {
	@include sizeEl(block, none, 100%, 250px);
	position: absolute;
	bottom:0px;
}

// Centers / wraps all the pdp hero els
.pdpProjectEls .pdpElsCenterWrap {
	@include sizeEl(block, none, 250px, 100%);
	margin: 0 auto;
	position: relative;
	overflow: visible;
}
//------------------------------------  pdp element wrappers!


// screen shot / brand img ----------------------------------
.pdpElsCenterWrap .pdpScreenShot, .pdpElsCenterWrap .pdpBrandImg {
	background-repeat: no-repeat;
}

// screen shot 
.pdpElsCenterWrap .pdpScreenShot {
	@include sizeEl(block, none, 100%, 100%);
	position: absolute;
	top: -50px;
	right: 0px;

	background-repeat: no-repeat;
	background-position: bottom center;
	background-size: 250px 205px;
	overflow: visible;
}

// brand image 
.pdpElsCenterWrap .pdpBrandImg {
	@include sizeEl(none, none, 220px, 280px);
	position: absolute;
	left: -100px;
	bottom:50px;
}
//---------------------------------- screen shot / brand img!


// project pagination --------------------------------------
.projPageination {
	position: absolute;
	display: block;
	width: 100%;
	bottom: 0px;
	margin: 0 !important;
}

// center the pagination
.paginationCenter {
	@include sizeEl(block, none, 100%, 400px);
	max-width: 300px;
	margin: 0 auto;
	position: relative;
}
//--------------------------------------  project pagination!


//----------------------------------------------------------------| PDP Hero !




//----------------------------------------------------------------| PDP Body


// slogan header -------------------------------------------
//big ideas slogan
.pageSlogan h2 {
	@include sizeEl(block, left, 100%, 46px);
	padding: 22px 0 0 0;
}

// slogan background image el
.pageSlogan h2 em {
	@include sizeEl(block, none, 305px, 20px);
	@include spritePos('sprite.png', 16px -220px);
	margin: 0 auto;

	overflow: hidden;
	text-indent: -99999px;
}
// subtitle type
.pageSlogan h6 {
	@include sizeEl(block, left, 100%, auto);
	text-align: center;
	text-transform: uppercase;
	letter-spacing: .3em;
	font-size: 10px;
	padding: 0 0 22px 0;
}
//------------------------------------------- slogan header!


// pdp content -------------------------------------------
// gallery wraper
.galleryPage {
	@include sizeEl(block, none, 100%, auto);
	margin: 0 auto;
	max-width: 900px;
	padding: 15px;
}

// gallery list of thumbnails
.galleryPageThumbList {
	@include sizeEl(block, left, 100%, auto);
}

// gallery thumbnail wrap
.galleryThumbImgWrap {
	@include sizeEl(block, left, 100%, 250px);
	margin: 0 0 15px 0;
	background: #ccc;
}
//-------------------------------------------  pdp content!


//----------------------------------------------------------------| PDP Body !




//=================================================================================================================================|




//===========================================================================================================|
// |========|



//----------------------------------------------------------------| Post Styles


//------------------------------------------- Post Wraps
// general post wrap
.postWrap {
	@include sizeEl(inline-block, left, auto, 100%);
	padding: 0 15px;
}

// index post wrap
.iPostWrap {
	width: 100%;
}
//------------------------------------------- Post Wraps!


//------------------------------------------- Post Section
// gen post section
.postSection {
	@include sizeEl(inline-block, left, auto, 100%);
	margin: 0 0 15px 0;
	background-color: $w;
	position: relative;
}

// featured post image
.postFeaturedImgWrap {
	@include sizeEl(block, left, 100%, 150px);
}
//------------------------------------------- Post Section!


//------------------------------------------- Post Date Wrap

// general post date styles

// post date / author / cat wrap
.postDateWrap {
	@include sizeEl(block, left, 100%, 40px);
	position: relative;
	padding: 0 10px;
} 

// inner wrap for border
.postDateInnerWrap { @include sizeEl(block, left,100%, 100%); }

// gen post date type style
.postDateWrap time, .postDateWrap a, .postDateWrap ul {
	position: absolute;
	font-size: .7em;
	color: $textColor;
	letter-spacing: .05em;
}

// kern out time
.postDateWrap time { letter-spacing: .2em; }

// green authors name 
a.author span, .postDateWrap ul li a {
	font-weight: 700;
	font-style: italic;
	color: $bGreen;
	font-size: 11px;
}
//------------------------------------------- Post Date Wrap!


//------------------------------------------- Blog Index Post Date
// blog index time
.sinlgePostPrev time{
	left: 10px;
	top: 12px;
}

// blog index author
.sinlgePostPrev a.author {
	right: 10px;
	top: 15px;
}
//------------------------------------------- Blog Index Post Date!


//------------------------------------------- Blog Index Post Date
// 
.mutiPostWrap .postFeaturedImgWrap {
	max-height: 260px;
}
//------------------------------------------- Blog Index Post Date!


//------------------------------------------- Post text wrap

.postTextWrap { padding: 10px; }

.postTextWrap img { width: 100%; }

//------------------------------------------- Post text wrap!


//----------------------------------------------------------------| Post Styles!

//================================================================================================================================|


// Side Bars 

//======================================================================================================| Gen SideBar |============|


//------------------------------------------- Sidebar Wraps
// gen sidebar wrap
.sbWrap { float: right; }

// double sidebar wrap
.dblSidebarWrap {
	@include sizeEl(block, right, 35%, 100%);
	position: absolute;
	right: 0px;

	background: url($sidebarNewsBg); 
	border-left: solid 1px $gBorder;
}

// holds a single sb
.singleSidebarWrap { width: 35%; padding: 15px 0 0 0; }

// related articles sb wrap
.relatedSbWrap { padding: 15px 15px 0 0; }



//------------------------------------------- Sidebar Wraps!



//------------------------------------------- General sb styles
// gen sidebar
aside.blogSb {
	width: 100%;
	height: inherit;
	position: relative;
}

// sidebar backgrounds
.darkSb  { background:$headBg url($sidebarBg); border: solid 1px $b; border-bottom: none; }
.whiteSb { background: $w; }
.transSb { background: transparent;}

// standard dark sb text
aside.darkSb ul, aside.darkSb li, 
aside.darkSb a , aside.darkSb h6 {
	color: $w;
}

// sidebar inner wrap
.innerSbWrap {
	overflow: hidden;
	height: 100%;
	position: relative;
}

// titles in the sidebar
.innerSbWrap h6 {
	@include sizeEl(inline-block, left, 100%, auto);
	padding: 0 0 10px 0;
	letter-spacing: .2em;
	font-size: 10px;
}

// titles in the sidebar
.innerSbWrap ul, .innerSbWrap li, .innerSbWrap a{
	font-size: 9px;
	letter-spacing: .2em;
}
//------------------------------------------- General sb styles!


//------------------------------------------- Sidebar Sections
// general sb section modules
aside.blogSb section {
	@include sizeEl(inline-block, left, 100%, auto);
	padding: 15px 10px;
	position: relative;
}

// dark sb section
.darkSb section {
	border-top: 1px solid $blogNavBorder;
	border-bottom: 1px solid $b;
}
//------------------------------------------- Sidebar Sections




//----------------------------------------------------------------| Sidebar Modules


//------------------------------------------- Sidebar Search Module
// gen search form
.sbSearch form {
	@include sizeEl(block, left, 100%, auto);
	position: relative;
}

// submit btn
.sbSearch form input[type="submit"]{
	position: absolute;
	top: -2px;
	right: -2px;
}
//------------------------------------------- Sidebar Search Module!


//------------------------------------------- Sidebar List Module
// gen sb list wraps
section.sbListWrap {
	@include sizeEl(inline-block, left, 100%, auto);
}

// gen sb list items
section.sbListWrap {
	@include sizeEl(block, left, 100%, auto);
	padding: 0 0 0 6px;
	text-transform: uppercase;
}

// list style
section.sbListWrap li {
	@include sizeEl(block, left, 100%, auto);
	margin-bottom: 5px;
	padding: 3px 0 3px 6px;
}

// gen veiw all links
section.sbListWrap .sbViewAll {
	display: block;
	width: 100%;
	float: right;
	text-align: right;
	text-transform: uppercase;
	font-size: .5em;
	letter-spacing: .2em;
	color: $sidebarCatColor !important;
	padding: 5px 0 0 0;
}
//------------------------------------------- Sidebar List Module!


//------------------------------------------- Sidebar Tout Module
// sb tout wrapper | override bottom border
section.sbToutWrap { border-bottom: none; }

.sbToutWrap div {
	@include sizeEl(block, left, 100%, 300px);
	background: #ccc;
}
//------------------------------------------- Sidebar Tout Module!


//----------------------------------------------------------------| Sidebar Module!


//------------------------------------------- Dark Sidebar List 
// all side bar link / list bars
.darkSb li {
	@include simpleTransAni(all, .3s, ease-in-out);
	background-color: $sidebarCatBg;
	border: solid 1px $sidebarTopBorder;
}

.darkSb li:hover {
	@include simpleTransAni(all, .3s, ease-in-out);
	background-color: $sidebarLiHoverBg;
}

 .darkSb section.sbListWrap ul a {
	color: $sidebarCatColor !important;
	@include simpleTransAni(all, .3s, ease-in-out);
}
//------------------------------------------- Dark Sidebar List!



//=================================================================================================================================|


// Specific Sidebars

//=========================================================================================================| News Sidebar |========|


// news sb wrapper aside
.newsSb {
	@include sizeEl(inline-block, left, 55%, auto);
	padding: 15px 10px;
	position: relative;
}

// space at the bottom
.newsArticlePrevWrap { margin: 0 0 10px 0;}


.newsArticlePrevWrap .newsSbDateWrap a {
	position: absolute;
	right: 10px;
}

// news date / cat heading
.newsSbDateWrap { height: 28px; }

// date pos
.newsSbDateWrap time { top: 5px; }

// cat pos
.newsSbDateWrap a { top: 8px; right: 10px; }

// size down the news article font
.newsArticlePrevWrap p { 
	font-size: 10px; 
	line-height: 1.2em; 
	padding: 0 0 10px 0; 
}

//=================================================================================================================================|





//======================================================================================================| Related Sidebar |========|

.relatedSb {
	border-bottom: none;
}

// you may also header
.relatedHeader {
	@include sizeEl(block, none, 100%, 46px);
	text-align: center;
	background: $relatedHeaderBg;
}

// h5 title
.relatedHeader h5 {
	color: $w;
	font-size: 12px;
	letter-spacing: .2em;
	font-family: 'Lato', sans-serif, Arial, serif; font-weight: 400;
	padding: 17px 0 0 0;
}

.relatedSb section {
	display: block;
	border-bottom: solid 1px $gBorder;
}


//==========================================================================================================| Single Post |========|











//=================================================================================================================================|


























// Site Modules

//===================================================================================================| Pagination Module |========|


//------------------------------------------- Pagination Defaults
// Pagination Wrap
.paginationWrap {
	@include sizeEl(inline-block, left, 100%, 50px);
	position: relative;
	overflow: hidden;
}

// pagination ul
.paginationWrap ul { @include sizeEl(block, left, 100%, 100%); }

// wrap all the numbers so the child div can
.pageNumWrap {
	@include sizeEl(block, none, 200px, 50px);
	margin: 0 auto;
}

// numbers wrap uesed to center things
.pageNumWrap div {
	@include sizeEl(block, none, 140px, 50px);
	padding: 15px 0 0 0;
	margin: 0 auto;
}

// all nums / text
.paginationWrap a {
	@include sizeEl(block, left, 20%, 10%);
	position: relative;
	z-index: 1;

	font-size: .8em;
	color: $textColor;
	text-transform: uppercase;
	letter-spacing: .2em;
}

//------------------------------------------- Pagination Defaults!


//------------------------------------------------ Lables / Arrows
// arrow general
.paginationWrap a.pageArrow {
	width: 120px;
	height: 120px;
	position: absolute;
	overflow: hidden;
}

// page nav lables pos
a.pageArrow span { position: absolute; top: 14px }
a.prevArrow span { right: 20px; }
a.nextArrow span {  left: 20px; }

// prev and next arrow pos / borders
.paginationWrap a.prevArrow { top: 0;  left: 0; }
.paginationWrap a.nextArrow { top: 0; right: 0; }

// Arrow brackgound gen
.paginationWrap a.pageArrow::after {
	content: '';
	display: block;
	position: absolute;
	width: 55px;
	height: 50px;
	top: 0px;
	@include spritePos('sprite.png', 0px 0px);
}

// show correct arrow
.paginationWrap a.pageArrow.prevArrow::after { background-position: -296px -12px;  left: 0px; }
.paginationWrap a.pageArrow.nextArrow::after { background-position: -346px -12px; right: 0px; }

// active triangle / hover animation
.pageNumWrap a:after {
	content: "";
	position: absolute;
	top: 5px;
	left: -3px;
	width: 12px;
	height: 12px;
	border: solid 1px $bGreen;
	z-index: -2;

	opacity: 0;

	-ms-transform:rotate(20deg);
	-webkit-transform:rotate(20deg);
	-o-transform:rotate(20deg);
	-ms-transform:rotate(20deg);

	// IE8 filter magic
	filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=0.45);

	@include simpleTransAni(all, .3s, ease-in-out);
}

// hover state
.pageNumWrap a:hover::after { 
	opacity: 1;
	-ms-transform:scale(1.4) rotate(45deg);
	-webkit-transform:scale(1.4) rotate(45deg);
	-o-transform:scale(1.4) rotate(45deg);
	-ms-transform:scale(1.4) rotate(45deg);
}

// over ride hover color change
.pageNumWrap a.activePageLink:hover {
	color: $textColor;
}

// active link
.pageNumWrap a.activePageLink:after {
	background-color: transparent;
	opacity: 1;
	-ms-transform:scale(1.4) rotate(45deg);
	-webkit-transform:scale(1.4) rotate(45deg);
	-o-transform:scale(1.4) rotate(45deg);
	-ms-transform:scale(1.4) rotate(45deg);
}


//------------------------------------------------ Lables / Arrows!




//------------------------------------------------ Gird Icon
// el that holds icon
.pageGridIcon {
	@include sizeEl(block, none, 55px, 55px);
	margin: 0 auto;
	border-right: solid 1px $gBorder;
	border-left: solid 1px $gBorder;
	padding: 12px 0 0 0 ;
}

// grid icon
.pageGridIcon li a.gridIconBtn {
	float: none;
	margin: 0 auto;
	width: 25px !important;
	height: 25px !important;
	overflow: hidden;
	text-indent: -99999px;
	@include spritePos('sprite.png', -408px -24px);
}
//------------------------------------------------ Gird Icon!


//------------------------------------------------ Pagination No Lables
// resize and hide the text
.paginationWrap a.pageArrow.pageArrowOnly {
	width: 55px;
	height: 50px;
	text-indent: -99999px;
}

.paginationWrap a.pageArrow.pageArrowOnly.prevArrow { border-right: solid 1px $gBorder; }
.paginationWrap a.pageArrow.pageArrowOnly.nextArrow { border-left: solid 1px $gBorder; }
//------------------------------------------------ Pagination No Lables

//================================================================================================================================|



.stickyArticleNav {
	position: fixed;
	height: 56px;
	top: 0px;
	left: 0px;
	z-index: 99999999;
	width: 100%;
	display: none;
}


.stickyArticleNav .innerPagination {
	@include sizeEl(block, left, 100%, 100%);
}


.stickyShow {
	-webkit-animation: ease-in-out stickMoveInScreen .4s backwards;
	-moz-animation:    ease-in-out stickMoveInScreen .4s backwards;
	-o-animation:      ease-in-out stickMoveInScreen .4s backwards;
	animation:         ease-in-out stickMoveInScreen .4s backwards;

	-webkit-animation-delay:1s;
	-moz-animation-delay:1s;
	-o-animation-delay:1s;
	animation-delay:1s;
}

.stickyHide {
	-webkit-animation: stickMoveOutScreen .4s forwards;
	-moz-animation:    stickMoveOutScreen .7s backwards;
	-o-animation:      stickMoveOutScreen .7s backwards;
	animation:         stickMoveOutScreen .7s backwards;
}



@-webkit-keyframes stickMoveInScreen {
  0%   { -webkit-transform: translate(0, -59px); }
  100% { -webkit-transform: translate(0, 0);     }
}

@-moz-keyframes stickMoveInScreen  {
  0%   { -moz-transform: translate(0, -59px); }
  100% { -moz-transform: translate(0, 0);     }
}

@-o-keyframes stickMoveInScreen  {
  0%   { -o-transform: translate(0, -59px); }
  100% { -o-transform: translate(0, 0);     }
}

@keyframes stickMoveInScreen  {
  0%   { transform: translate(0, -59px); }
  100% { transform: translate(0, 0);     }
}




@-webkit-keyframes stickMoveOutScreen {
  0%   { -webkit-transform: translate(0, 0);     }
  100% { -webkit-transform: translate(0, -59px); }
}

@-moz-keyframes stickMoveOutScreen  {
  0%   { -moz-transform: translate(0, 0);     }
  100% { -moz-transform: translate(0, -59px); }
}

@-o-keyframes stickMoveOutScreen  {
  0%   { -o-transform: translate(0, 0);     }
  100% { -o-transform: translate(0, -59px); }
}

@keyframes stickMoveOutScreen  {
  0%   { transform: translate(0, 0);     }
  100% { transform: translate(0, -59px); }
}


div.stickyCenterWrap {
	@include sizeEl(block, none, 100%, 100%);
	margin: 0 auto;
	max-width: 1200px;
}


.stickyArticleNav .centerStickyNav {
	@include sizeEl(block, none, 100%, 56px);
	max-width:  642px;
	margin: 0 auto;
	border: solid 1px $gBorder;
	background: $w;
}








//=======================================================================================================| Crumbs Module |========|


// global bread crumbs
.gCrumbs {
	float: left;
	width: 100%;
	padding: 0 15px;
}

// list
.gCrumbs li {
 	display: block;
 	float: left;
	font-size: 9px;
	letter-spacing: -.02em;
	color: $crumbs;
	padding: 0 5px 0 0;
}

// mobile only crumbs
.mobileCrumbs { @include sizeEl(block, left, 100%, 22px); padding: 0 10px; }

//================================================================================================================================|













.smallHeader { @include sizeEl(block, left, 100%, 170px); }









.secondaryHeader { 
	@include sizeEl(block, left, 100%, 135px); 
}


.bodyBgWrap {
	@include sizeEl(block, none, 100%, 100%);
	@include marquesImg('fpoSubTemp.jpg', no-repeat, top center);
	position: absolute;
	@include cover();
}

.notFoundBg {
	@include marquesImg('notFound.jpg', no-repeat, top center);
	@include cover();
}









//=================================================================================================================| 404 |========|

.notFoundHeader {
	text-align: center;
}


.notFoundHeadWrap {
	@include sizeEl(block, none, 100%,  100px);
	padding: 25px 0 0 0;
}

.notFoundHeadWrap h1, .notFoundHeadWrap h2 { color: $w; }



//------------------------------------------------ Search Section
.notFoundSearchWrap {
	@include sizeEl(block, none, 100%,  auto);
	margin: 0 auto;
	position: relative;
	padding:0 15px;
	max-width: 350px;
}

.notFoundSearchWrap input.lightInputs {
	height: 35px;
	padding: 8px 10px 8px 10px;
}


.notFoundSearchWrap input.lightInputs[type='submit']{
	position: absolute;
	top: 0px;
	right: 13px;
	padding: 8px 18px 8px 18px;
}
//------------------------------------------------ Gird Section!



//------------------------------------------------ Side Content Section

// wraps al side content
.notFoundSideWrap {
	@include sizeEl(inline-block, right, 100%,  auto);
	padding: 15px;
}

// turn error copy / main office copy white
.notFoundMessageWrap h5, 
.notFoundMessageWrap p,
.mainOffice h5,
.mainOffice ul li { 
	color: $w; 
}


//------------------------------------------------ Error Message
// error copy section
.notFoundMessageWrap {
	background: rgba(0, 0, 0, .8);
	padding: 15px;
}

// location section
.mainOffice {
	background-color: $bGreen;
	padding: 15px;
	margin: 0 0 15px 0;
	min-height: 105px;
}
//------------------------------------------------  Error Message!




.notFoundContactWrap {
	@include sizeEl(inline-block, left, 100%,  auto);
}


//------------------------------------------------ News Letter
.notFoundSignUpWrap {
	position: relative;
	padding: 15px;
}

.notFoundSignUpWrap input[type='text'] {
	height: 30px;
	padding: 8px 10px 8px 10px;
}

.notFoundSignUpWrap form {
	position: relative;
}

.notFoundSignUpWrap .greenSubmit {
	position: absolute;
	top: -2px;
	right: -2px;
}

.notFoundSignUpWrap a {
	font-style: italic;
	text-align: right;
	font-size: 11px;
	padding: 8px 0 0 0;
}

.notFoundSignUpWrap a span {
	color: $bGreen;
	font-weight: 700;
}
//------------------------------------------------ News Letter!


//------------------------------------------------ Side Content Section!


//================================================================================================================================|




//======================================================================================================| CatList Module |========|


.catList li, .catList a {
	float: left;
	height: 10px;
	font-weight: 700;
	font-style: italic;
	color: $bGreen;
	font-size: 11px;
 	text-align: center;
 	position: relative;
}

// align links with the border
.catList a { width: 100%; top: -6px; }

// add padding and make the cats green links
.catList li { border-left: 1px solid $catListBorderColor; padding: 0 5px 0 5px; }

// remove the padding and border for the first el in the cat list
.catList li:first-child { border-left: none; padding-left: 0px; }


//================================================================================================================================|




//========================================================================================================| Archive Page |========|


// wrapper of all returned articles
.resultsWrapInner { display: inline-block; } 

// cat list padding adjustment
.resultsWrapInner .catList { padding: 20px 0; }

// override section margin
.resultsWrapInner .postSection { margin: 0; }

// post date wrap but with only the date
.postDateOnly { height: 25px; padding: 0; }

// override time pos
.sinlgePostPrev.postDateOnly time { left: 0px; top: 0px; }

.resultsWrapInner .paginationWrap a.pageArrow { 
	width: 55px;
	height: 50px;
	text-indent: -99999px;
}


//================================================================================================================================|




//=================================================================================================| Search Results Page |========|


// link to the post that people can copy
.blogPostUrl {
	padding: 20px 0 5px 0;
	font-weight: 700;
	font-style: italic;
	letter-spacing: .05em;
	color: $bGreen;
	font-size: 13px;
}

.searchResultWrap .resultsWrapInner {
	border-bottom: none;
}
//================================================================================================================================|




//====================================================================================================| Services Page |==========|

// full services wrap | the about section
.servicesAboutWrap {
	@include sizeEl(inline-block, left, 100%, auto);
	position: relative;
	padding: 15px;
}

.servicesAboutInnerWrap {
	@include sizeEl(inline-block, left, 100%, 100%);
	position: relative;
}

.servicesSlider {
	@include sizeEl(inline-block, left, 100%, auto);
	max-height: 275px;
	position: relative;
	overflow: hidden;
	background-color: #171717;
}








.servicesTextWrap {
	@include sizeEl(inline-block, left, 100%, auto);
	padding: 15px;
	text-align: center;
	color: $w;
	background-color: $headBg;
}

.servicesTextWrap h2 {
	color: $w;
}

.servicesCapWrap {
	@include sizeEl(inline-block, left, 100%, auto);
	padding: 15px;
}

.servicesCapWrap section {
	@include sizeEl(inline-block, left, 100%, auto);
	padding: 0 0 20px 0;
}


.servicesClientWrap {
	float: left;
	padding: 15px;
}

.servicesListClientName section {
	display: none;
}

.servicesListClientName li:hover section {
	display: block;
	position: absolute; 
	top: 0px;
	left: 0px;
}

.servicesClientListWrap {
	@include sizeEl(inline-block, left, 100%, auto);
}

.servicesClientListWrap li {
	position: relative;
}

.servicesClientListWrap li::after {
	@include sizeEl(block, none, 4px, 4px);
	content: "";
	position: absolute;
	top: 8px;
	left: 0px;
	background-color: $bGreen;
	opacity: 0;
	visibility: hidden;

	-moz-transform:rotate(45deg);
	-o-transform:rotate(45deg);
	-webkit-transform:rotate(45deg);
	-ms-transform:rotate(45deg);
	transform:rotate(45deg);

	@include simpleTransAni(all, .15s, ease-in-out);


	// ie filter magic
	filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=1.5);
}

.servicesClientListWrap li:hover {
	color: $bGreen !important;
	cursor: pointer;
	text-decoration: underline;
}

.servicesClientListWrap li:hover:after {
	left: -8px;
	opacity: 1;
	visibility: visible;
}





.servicesClientListWrap ul {
	@include sizeEl(block, left, 100%, auto);
	padding: 20px 0;
}

.servicesClientListWrap li {
	@include sizeEl(block, left, 33.33333%, auto);
	font-size: .7em;
}

.servicesLocationWrap {
	@include sizeEl(inline-block, left, 100%, 375px);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	@include backgroundImg('locationImg.jpg', no-repeat, top center); 
	padding: 15px;
}


.servicesLocationPopUp section {
	@include sizeEl(block, none, 100%, 150px);
	position: relative;
	background-color: $w;
  	box-shadow: 0.5px 0.866px 30px 0px rgba( 2, 2, 2, .55 );
}

.servicesLocationPopUp h2 {
	@include sizeEl(block, left, 55px, 150px);
	overflow: hidden;
	text-indent: -999999px;
	background-color: $bGreen;
}

.servicesLocationTextWrap {
	@include sizeEl(block, left, 80%, auto);
	padding: 15px;
}

.servicesCenterWrap {
	@include sizeEl(block, none, 100%, auto);
	margin: 0 auto;
	max-width: 1200px;
}


.swipeWrap {
  overflow: hidden;
  position: relative;
}

// slider
.swipeWrap div {
	  float:left;
	  width:100%;
	  position: relative;
}

.swipeWrap div > img {
	width: 100%;
}







.servicesLocationPopUp section::after {
	@include sizeEl(block, none, 0, 0);
	content: '';
	position: absolute;
	top: 150px;
	left: 16px;

	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	
	border-top: 20px solid $bGreen;
}


//===============================================================================================================================|


