/* ============================================================

projects

============================================================ */






// Static vars ------------------------------------------------------------------------------------------------|

// Projects Directory
$projectDir: '../../projects/';

// Background image vars
$mThumb: '/mobileThumb.jpg';   // mobile 
$tThumb: '/tabletThumb.jpg';   // mobile / small tablet
$thumb: '/thumb.jpg';   //  desktop

//-----------------------------------------------------------------------------------------------------------|






// Project Folder Names |------------------------------------------------------------------------------------|

$project1Folder   : 'test1816';    // project  1 | Test Project 1
$project2Folder   : 'testvega';    // project  2 | Test Project 2
$project3Folder   : 'folderName';  // project  3 |
$project4Folder   : 'folderName';  // project  4 |
$project5Folder   : 'folderName';  // project  5 |
$project6Folder   : 'folderName';  // project  6 |
$project7Folder   : 'folderName';  // project  7 |
$project8Folder   : 'folderName';  // project  8 |
$project9Folder   : 'folderName';  // project  9 |
$project10Folder  : 'folderName';  // project 10 |
$project11Folder  : 'folderName';  // project 11 |
$project12Folder  : 'folderName';  // project 12 | 
$project13Folder  : 'folderName';  // project 13 |
$project14Folder  : 'folderName';  // project 14 |
$project15Folder  : 'folderName';  // project 15 |
$project16Folder  : 'folderName';  // project 16 |

//-----------------------------------------------------------------------------------------------------------|






// Client Logo Posisions | 450 / 755 |------------------------------------------------------------------------|

$p1LogoPos          :   10px 15px ;
$p1LogoPosShift     :   -12px 0px ;

$p2LogoPos          : -122px 15px ;
$p2LogoPosShift     : -188px 0px ;

$p3LogoPos          : -122px 15px ;
$p3LogoPosShift     : -188px 0px ;

$p4LogoPos          : -122px 15px ;
$p4LogoPosShift     : -188px 0px ;

$p5LogoPos          : -122px 15px ;
$p5LogoPosShift     : -188px 0px ;

$p6LogoPos          : -122px 15px ;
$p6LogoPosShift     : -188px 0px ;

$p7LogoPos          : -122px 15px ;
$p7LogoPosShift     : -188px 0px ;

$p8LogoPos          : -122px 15px ;
$p8LogoPosShift     : -188px 0px ;

$p9LogoPos          : -122px 15px ;
$p9LogoPosShift     : -188px 0px ;

$p10LogoPos          : -122px 15px ;
$p10LogoPosShift     : -188px 0px ;

$p11LogoPos          : -122px 15px ;
$p11LogoPosShift     : -188px 0px ;

$p12LogoPos          : -122px 15px ;
$p12LogoPosShift     : -188px 0px ;

$p13LogoPos          : -122px 15px ;
$p13LogoPosShift     : -188px 0px ;

$p14LogoPos          : -122px 15px ;
$p14LogoPosShift     : -188px 0px ;

$p15LogoPos          : -122px 15px ;
$p15LogoPosShift     : -188px 0px ;

$p16LogoPos          : -122px 15px ;
$p16LogoPosShift     : -188px 0px ;

//-----------------------------------------------------------------------------------------------------------|






// General logo / bg styles |-------------------------------------------------------------------------------|

// assign the logo sprite
h2.clientProjectLogo span {background: url(#{$projectDir}/_thumb.png);}

// cover the bg image and pos top right
.featuredProjects li > a {@include cover(); background-position: top right;}

//-----------------------------------------------------------------------------------------------------------|






// Project Thumbs | 450 / 650 |-----------------------------------------------------------------------------|

.featuredProject1  > a { background: url(#{$projectDir}#{$project1Folder}#{$mThumb}) ; }
.featuredProject2  > a { background: url(#{$projectDir}#{$project2Folder}#{$mThumb}) ; }
.featuredProject3  > a { background: url(#{$projectDir}#{$project3Folder}#{$mThumb}) ; }
.featuredProject4  > a { background: url(#{$projectDir}#{$project4Folder}#{$mThumb}) ; }
.featuredProject5  > a { background: url(#{$projectDir}#{$project5Folder}#{$mThumb}) ; }
.featuredProject6  > a { background: url(#{$projectDir}#{$project6Folder}#{$mThumb}) ; }
.featuredProject7  > a { background: url(#{$projectDir}#{$project7Folder}#{$mThumb}) ; }
.featuredProject8  > a { background: url(#{$projectDir}#{$project8Folder}#{$mThumb}) ; }
.featuredProject9  > a { background: url(#{$projectDir}#{$project9Folder}#{$mThumb}) ; }
.featuredProject10 > a { background: url(#{$projectDir}#{$project10Folder}#{$mThumb}); }
.featuredProject11 > a { background: url(#{$projectDir}#{$project11Folder}#{$mThumb}); }
.featuredProject12 > a { background: url(#{$projectDir}#{$project12Folder}#{$mThumb}); }
.featuredProject13 > a { background: url(#{$projectDir}#{$project13Folder}#{$mThumb}); }
.featuredProject14 > a { background: url(#{$projectDir}#{$project14Folder}#{$mThumb}); }
.featuredProject15 > a { background: url(#{$projectDir}#{$project15Folder}#{$mThumb}); }
.featuredProject16 > a { background: url(#{$projectDir}#{$project16Folder}#{$mThumb}); }

//-----------------------------------------------------------------------------------------------------------|